@{
    ViewBag.Controller = "Quản lý kho";
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-dialog-scrollable .modal-content {
        max-height: 80vh;
        overflow: hidden;
    }

    .modal-dialog-scrollable .modal-body {
        max-height: calc(100vh - 300px);
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group mb-3">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
            <a class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" href="javascript:Loadlist()"><i class="ti ti-search text-white"></i></a>
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="javascript:Loadlist('name')"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist('name_desc')"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist('date')"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist('date_desc')"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="javascript:Loadlist_nhap()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="ti ti-certificate"></i> Nhập kho
        </a>
        <a href="javascript:Loadlist_xuat()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <i class="ti ti-certificate"></i> Xuất kho
        </a>
    </div>
</div>

<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mã vật tư</th>
            <th>Tên vật tư</th>
            <th class="text-center">Đơn vị</th>
            <th class="text-end">Đơn giá</th>
            <th class="text-center">Định mức</th>
            <th class="text-center">Tồn kho</th>
        </tr>
    </thead>
    <tr id="loading">
    </tr>
    <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/" method="post" id="form_nhap">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nhập vật tư vào kho</h5>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Họ tên | Tên nhà cung cấp:</label>
                            <input type="text" name="Name" id="Name" placeholder="Tên liên hệ hoặc tên nhà cung cấp" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Số điện thoại:</label>
                            <input type="text" name="Phone" id="Phone" placeholder="Số điện thoại liên hệ" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Địa chỉ:</label>
                            <input type="text" name="Address" id="Address" placeholder="Địa chỉ liên hệ" value="" class="form-control" />
                        </div>
                        <div class="col col-12 col-md-12 col-sm-12 mt-3">
                            <label class="text-success">Ghi chú:</label>
                            <input type="text" name="Description" id="Description" placeholder="Mô tả phiếu nhập vật tư" value="" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <table class="table mt-3">
                        <thead class="bg-success">
                            <tr class="text-white">
                                <td class="text-center">STT</td>
                                <td>Vật tư</td>
                                <td class="text-center">Đơn vị</td>
                                <td class="text-center">Đơn giá</td>
                                <td class="text-center">Số lượng</td>
                                <td class="text-center">Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody id="showlist_nhap"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-end">
                                    <span class="text-success">
                                        <input type="hidden" name="countline" value="" id="countline" />
                                        Tổng tiền:
                                    </span>
                                </td>
                                <td><input type="text" name="tongtien" value="0" class="form-control" id="tongtien" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer text-start">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-success" onclick="submit_nhap()">
                        <i class="ti ti-circle-plus"></i> Thêm vào phiếu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/" method="post" id="form_xuat">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Xuất vật tư từ kho</h5>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Họ tên | Người nhận:</label>
                            <input type="text" name="Name" id="Name" placeholder="Tên người nhận" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Số điện thoại:</label>
                            <input type="text" name="Phone" id="Phone" placeholder="Số điện thoại liên hệ" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Địa chỉ:</label>
                            <input type="text" name="Address" id="Address" placeholder="Địa chỉ liên hệ" value="" class="form-control" />
                        </div>
                        <div class="col col-12 col-md-12 col-sm-12 mt-3">
                            <label class="text-success">Ghi chú:</label>
                            <input type="text" name="Description" id="Description" placeholder="Mô tả phiếu xuất kho" value="" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <table class="table mt-3">
                        <thead class="bg-success">
                            <tr class="text-white">
                                <td class="text-center">STT</td>
                                <td>Vật tư</td>
                                <td class="text-center">Đơn vị</td>
                                <td class="text-center">Đơn giá</td>
                                <td class="text-center">Số lượng</td>
                                <td class="text-center">Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody id="showlist_xuat"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-end">
                                    <span class="text-success">
                                        <input type="hidden" name="countline_xuat" value="" id="countline_xuat" />
                                        Tổng tiền:
                                    </span>
                                </td>
                                <td><input type="text" name="tongtien_xuat" value="0" class="form-control" id="tongtien_xuat" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer text-start">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-success" onclick="submit_xuat()">
                        <i class="ti ti-circle-plus"></i> Thêm vào phiếu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    Loadlist();
    function Loadlist(sort) {
        $("#loading").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
         $.ajax({
             url: '@Url.Action("Loadlist", "Warehouses")',
             type: "GET",
             data: {
                 idBranch : $("#IdBranch").val(),
                 sort: sort,
                 searchString: $("#searchString").val()
             },
             success: function (data) {
                 console.log(data);
                $("#loading").html("");
                 $('#showlist').html(data.str);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }
    function Loadlist_nhap() {
         $.ajax({
             url: '@Url.Action("Loadlist_nhap", "Warehouses")',
             type: "GET",
             data: {
             },
             success: function (data) {
                 console.log(data);
                 $('#showlist_nhap').html(data.str);
                 $('#countline').val(data.count);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }

    function Loadlist_xuat() {
         $.ajax({
             url: '@Url.Action("Loadlist_xuat", "Warehouses")',
             type: "GET",
             data: {
             },
             success: function (data) {
                 console.log(data);
                 $('#showlist_xuat').html(data.str);
                 $('#countline_xuat').val(data.count);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }
    function sum_tongtien() {
        var countline = $("#countline").val();
        var tongtien = 0;
        for (var i = 1; i <= countline; i++) {
            var soluong = Number($("#soluong_" + i).val());
            if (soluong > 0) {
                var dongia = parseFloat($("#dongia_" + i).val().replace(/,/g, '')); // Remove all commas
                var thanhtien = dongia * soluong;
                tongtien += thanhtien;
            }
        }
        $("#tongtien").val(tongtien.toLocaleString());
    }
    function update_thanhtien(i) {
        var dongia = parseFloat($("#dongia_" + i).val().replace(/,/g, '')); // Remove all commas
        var soluong = parseInt($("#soluong_" + i).val());
        var thanhtien = dongia * soluong;
        $("#thanhtien_" + i).val(thanhtien.toLocaleString());
        sum_tongtien();
    }

    function update_thanhtienxuat(i) {
        var max = parseInt($('#soluong_'+i).attr('max'));
        var dongia = parseFloat($("#dongia_" + i).val().replace(/,/g, '')); // Remove all commas
        var soluong = parseInt($("#soluong_" + i).val());
        if (soluong > max) {
            showError("Vui lòng nhập số lượng nhỏ hơn!", 3000);
            $("#soluong_" + i).val(0);
            update_thanhtienxuat(i);
            sum_tongtienxuat();
        } else {
            var thanhtien = dongia * soluong;
            $("#thanhtien_" + i).val(thanhtien.toLocaleString());
            sum_tongtienxuat();
        }
    }
    function sum_tongtienxuat() {
        var countline = $("#countline_xuat").val();
        var tongtien = 0;
        for (var i = 1; i <= countline; i++) {
            var soluong = Number($("#soluong_" + i).val());
            if (soluong > 0) {
                var dongia = parseFloat($("#dongia_" + i).val().replace(/,/g, '')); // Remove all commas
                var thanhtien = dongia * soluong;
                tongtien += thanhtien;
            }
        }
        $("#tongtien_xuat").val(tongtien.toLocaleString());
    }

    var isProcessing = false;
    function submit_nhap() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_nhap", "Warehouses")',
            type: "POST",
            data: $("#form_nhap").serialize()
            , dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#exampleModal').modal('hide');
                    showSuccess("Đã nhập thành công!", 3000);
                    Loadlist();
                }
                else {
                    showError(data.status, 3000);
                }
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            },
            error: function ()
            {
                showError('Lỗi!', 3000);
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            }
        });
    }
    function submit_xuat() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_xuat", "Warehouses")',
            type: "POST",
            data: $("#form_xuat").serialize()
            , dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#exampleModal2').modal('hide');
                    showSuccess("Đã xuất thành công!", 3000);
                    Loadlist();
                }
                else {
                    showError(data.status, 3000);
                }
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            },
            error: function () {
                showError('Lỗi!', 3000);
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            }
        });
    }
    $('#exampleModal').on('shown.bs.modal', function (e) {
        Loadlist_nhap();
    });
    $('#exampleModal2').on('shown.bs.modal', function (e) {
        Loadlist_xuat();
    });
</script>