@model PagedList.IPagedList<SuperbrainManagement.Models.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}
<div class="row">
    <div class="col col-md-4 col-sm-12">
        <form action="/employees" method="get" id="formload">
            <div class="input-group mb-3">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2" })
                }
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-filter"></i> @{
                    if (Convert.ToString(ViewBag.SelectedFilter) == "Official")
                    {
                        <span>Chính thức</span>
                    }
                    else
                    {
                        <span>Thử việc</span>
                    }
                }
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new {filterEnum = true, currentFilter =  ViewBag.CurrentFilter,IdBranch=ViewBag.CurrentBranch})"> Chính thức</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new {filterEnum = false, currentFilter =ViewBag.CurrentFilter,IdBranch=ViewBag.CurrentBranch })"> Thử việc</a></li>
            </ul>
        </div>
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter,filterEnum = ViewBag.CurrentEnum, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter,filterEnum = ViewBag.CurrentEnum, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter,filterEnum = ViewBag.CurrentEnum,IdBranch=ViewBag.CurrentBranch, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter,filterEnum = ViewBag.CurrentEnum,IdBranch=ViewBag.CurrentBranch, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="/employees/create" class="btn btn-md btn-success ms-0"><i class="ti ti-circle-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-left">Tên</th>
            <th class="text-center">Số điện thoại</th>
            <th class="text-left">Email</th>
            <th class="text-center">Vị trí</th>
            <th class="text-center">Thời gian công tác</th>
            <th class="text-center">Số GCN</th>
            <th class="text-center">Ngày hết hạn</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @stt
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-center">
                @(item.IdPosition==null?"-":item.Position.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.StartWork)
            </td>
            <td class="text-center">
                @(item.CertificateNumber==null?"-":item.CertificateNumber.ToString())
            </td>
            <td class="text-center">
                @(item.DateCertificate==null?"-":item.DateCertificate.Value.ToString("dd/MM/yyyy"))
            </td>
            <td class="text-end">
                <a href="/employees/edit/@item.Id" class="me-1"><i class="ti ti-edit text-primary"></i></a>
                <a href="javascript:Delete_Employee(@item.Id)" class="me-1"><i class="ti ti-trash text-danger"></i></a>
                <a class="text-warning" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                    {
                        <li><a href="javascript:Add_userbyEmployee(@item.Id)" class="dropdown-item"><i class="ti ti-lock-access"></i> Tài khoản</a></li>
                        <li><a href="javascript:Confirm_Official(@item.Id)" class="dropdown-item"><i class="ti ti-user-check"></i> Xác nhận chính thức</a></li>
                    }
                </ul>
            </td>
        </tr>
        stt += 1;
    }
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabel">Tạo tài khoản</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post" id="form_nhap">
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12">
                            <label>Họ tên</label>
                            <input type="hidden" id="IdEmployee" value="" class="form-control" />
                            <input type="text" id="NameEmployee" value="" class="form-control" disabled />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label>Tên đăng nhập</label>
                            <input type="text" id="Username" value="" class="form-control" disabled />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label>Mật khẩu</label>
                            <input type="password" id="Password" value="" class="form-control" required />
                        </div>
                    </div>
                    <button type="button" class="btn btn-success mt-3" onclick="Submit_adduser()" id="btnAction">
                        <i class="ti ti-circle-plus"></i> Tạo tài khoản
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function Add_userbyEmployee(id) {
        $('#Username').val("");
        $.ajax({
            url: '@Url.Action("Load_infoEmployee", "Employees")',
            type: "GET",
            data: {
                id:id
            },
            success: function (data) {
                console.log(data);
                $('#IdEmployee').val(id);
                $('#NameEmployee').val(data.name);
                if (data.action == "create") {
                    $('#exampleModalLabel').html("Tạo tài khoản");
                    $('#btnAction').html("Tạo tài khoản");
                } else {
                    $('#exampleModalLabel').html("Chỉnh sửa tài khoản");
                    $('#btnAction').html("Chỉnh sửa tài khoản");
                    $('#Username').val(data.username);
                }
                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Submit_adduser() {
        $.ajax({
            url: '@Url.Action("Submit_adduser", "Employees")',
            type: "POST",
            data: {
                IdEmployee: $("#IdEmployee").val(),
                Name: $("#NameEmployee").val(),
                Username: $("#Username").val(),
                Password: $("#Password").val()
            }
            , dataType: "json",
            success: function (data) {
                if (data.message == "ok") {
                    $('#exampleModal').modal('hide');
                    showSuccess(data.status, 3000);
                }
                else {
                    showError(data.message, 3000);
                }
            },
            error: function () { showError('Lỗi!', 3000); }
        });
    }
    function Delete_Employee(Id) {
        if (confirm('Bạn có muốn xóa nhân sự này?')) {
            $.ajax({
                url: '@Url.Action("Delete_Employee", "Employees")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting employee',3000);
                }
            });
        }
    }
    function Confirm_Official(Id) {
        if (confirm('Bạn có muốn xác nhận nhân sự này là nhân sự chính thức?')) {
            $.ajax({
                url: '@Url.Action("Confirm_official", "Employees")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting employee',3000);
                }
            });
        }
    }
</script>