@model PagedList.IPagedList<SuperbrainManagement.Models.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Nhân sự";
    ViewBag.Title = "Danh sách nhân sự";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-4 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="searchString" id="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
            <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="submit" onclick="Loadlist(true)"><i class="ti ti-search text-white"></i></button>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 text-end">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-filter"></i> 
                <span id="filterEnum"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="javascript:Loadlist(true)"> Chính thức</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist(false)"> Thử việc</a></li>
            </ul>
        </div>
        <a href="/employees/create" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table table-bordered fs-3 mt-2">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-left">Tên</th>
            <th class="text-center">Số điện thoại</th>
            <th class="text-left">Email</th>
            <th class="text-center">Vị trí</th>
            <th class="text-center">Thời gian công tác</th>
            <th class="text-center">Số GCN</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="text-success" id="exampleModalLabel">Tạo tài khoản</h5>
                <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post" id="form_nhap">
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12">
                            <label>Họ tên</label>
                            <input type="hidden" id="IdEmployee" value="" class="form-control" />
                            <input type="text" id="NameEmployee" value="" class="form-control" disabled />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label>Tên đăng nhập</label>
                            <input type="text" id="Username" value="" class="form-control" @(SuperbrainManagement.Controllers.CheckUsers.CheckHQ()?"":"disabled") />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label>Mật khẩu</label>
                            <input type="password" id="Password" value="" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger text-center" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <button type="button" class="btn btn-sm btn-success" onclick="Submit_adduser()" id="btnAction">
                        <i class="ti ti-device-floppy"></i> Cập nhật
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    Loadlist(true);
    function Loadlist(isOfficial) {
        // Lấy giá trị của chi nhánh và từ khóa tìm kiếm từ giao diện người dùng
        var idBranch = $("#IdBranch").val();
        var searchString = $("input[name='searchString']").val();
            $(".loader").html("<td colspan=8>Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
            $('#showlist').html("");
            $.ajax({
                url: '@Url.Action("Loadlist", "employees")',
                type: "GET",
                data: {
                    IsOfficial: isOfficial,  // Truyền giá trị isOfficial (chính thức hoặc thử việc)
                    IdBranch: idBranch,      // Truyền giá trị chi nhánh
                    searchString: searchString // Từ khóa tìm kiếm
                },
                success: function (data) {
                    $('#showlist').html(data.str);
                    $(".loader").html("");
                    if (isOfficial == true) {
                        $('#filterEnum').html("Chính thức");
                    }
                    else {
                        $('#filterEnum').html("Thử việc");
                    }
                },
                error: function (xhr, error) {
                    $(".loader").html("");
                }
            });
        }

    function UserbyId(id) {
        $('#Username').val("");
        $.ajax({
            url: '@Url.Action("Load_infoEmployee", "Employees")',
            type: "GET",
            data: {
                id:id
            },
            success: function (data) {
                console.log(data);
                $('#IdEmployee').val(id);
                $('#NameEmployee').val(data.name);
                if (data.action == "create") {
                    $('#exampleModalLabel').html("Tạo tài khoản");
                    $('#btnAction').html("+ Tạo tài khoản");
                } else {
                    $('#exampleModalLabel').html("Chỉnh sửa tài khoản");
                    $('#btnAction').html("<i class='ti ti-device-floppy'></i> Cập nhật");
                    $('#Username').val(data.username);
                }
                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Submit_adduser() {
        $.ajax({
            url: '@Url.Action("Submit_adduser", "Employees")',
            type: "POST",
            data: {
                IdEmployee: $("#IdEmployee").val(),
                Username: $("#Username").val(),
                Password: $("#Password").val()
            }
            , dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#exampleModal').modal('hide');
                    showSuccess(data.message, 3000);
                }
                else {
                    showError(data.message, 3000);
                }
            },
            error: function () { showError('Lỗi!', 3000); }
        });
    }
    function Delete(Id) {
        if (confirm('Bạn có muốn xóa nhân sự này?')) {
            $.ajax({
                url: '@Url.Action("Delete_Employee", "Employees")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting employee',3000);
                }
            });
            return false;
        }
    }
    function Confirm_Official(Id) {
        if (confirm('Bạn có muốn xác nhận nhân sự này là nhân sự chính thức?')) {
            $.ajax({
                url: '@Url.Action("Confirm_official", "Employees")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting employee',3000);
                }
            });
            return false;
        }
    }
</script>