@model SuperbrainManagement.Models.TrainingCourse

@{
    ViewBag.Controller = "Khóa đào tạo";
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h5 class="text-success">Thêm khóa đào tạo</h5>
    <div class="row">
        <div class="col-12 col-xl-8 row">
            <div class="col-md-4 mt-3">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-8 mt-3">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 mt-3">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <label>Ngày bắt đầu</label>
                <div class="col-md-12">
                    <input type="text" name="ngaybatdau" value="@Model.Fromdate.Value.ToString("dd/MM/yyyy")" id="ngaybatdau" class="form-control" onchange="Updatedate()" />
                    @Html.HiddenFor(model => model.Fromdate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <label>Ngày kết thúc</label>
                <div class="col-md-12">
                    <input type="text" name="ngayketthuc" value="@Model.Todate.Value.ToString("dd/MM/yyyy")" id="ngayketthuc" class="form-control" onchange="Updatedate()" />
                    @Html.HiddenFor(model => model.Todate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.Todate, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-4 mt-3">
                <label>Hạn đăng ký</label>
                <div class="col-md-12">
                    <input type="text" name="handangky" value="@Model.ResgistrationDeadline.Value.ToString("dd/MM/yyyy")" id="handangky" class="form-control" onchange="Updatedate()" />
                    @Html.HiddenFor(model => model.ResgistrationDeadline, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.ResgistrationDeadline, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="col-12 col-xl-4">
            <div class="row g-2">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Cài đặt chung</h4>
                            <div class="row gx-3">
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="mb-4">
                                        <div class="d-flex flex-wrap mb-2">
                                            <h5 class="mb-0 text-body-highlight me-2">Loại khóa đào tạo</h5><a class="fw-bold fs-9" href="#!">Thêm mới</a>
                                        </div>
                                        @Html.DropDownList("IdType", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="d-flex flex-wrap mb-2">
                                        <h5 class="mb-0 text-body-highlight me-2">Kích hoạt</h5>
                                    </div>
                                    @Html.EditorFor(model => model.Enable, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group mt-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<script>

    function Updatedate() {
        var fromDate = $("#ngaybatdau").val().split("/").reverse().join("-");
        var toDate = $("#ngayketthuc").val().split("/").reverse().join("-");
        var deadlineDate = $("#handangky").val().split("/").reverse().join("-");
        $("#Fromdate").val(fromDate);
        $("#Todate").val(toDate);
        $("#ResgistrationDeadline").val(deadlineDate);
    }
    $(function () {
        $("#ngaybatdau").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
        $("#ngayketthuc").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
        $("#handangky").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
    });
</script>
