@model IEnumerable<SuperbrainManagement.Models.TrainingCourse>

@{
    ViewBag.Controller = "Khóa đào tạo";
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;

    int idbranch = Convert.ToInt32(SuperbrainManagement.Controllers.CheckUsers.idBranch());
}
<div class="row">
    <div class="col col-md-3 col-sm-12">
    </div>
    <div class="col col-md-9 col-sm-12 text-end">
        <a href="/trainingcourses/create" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table fs-3 mt-2">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Khóa đào tạo</th>
            <th class="text-center">Hạn đăng ký</th>
            <th class="text-center">Ngày bắt đầu</th>
            <th class="text-center">Ngày kết thúc</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
        <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/" method="post" id="form_xuat">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalLabel2">Đăng ký giáo viên tham gia đào tạo</h5>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-6 col-md-6 col-sm-12">
                            <label class="text-success">Khóa đào tạo:</label>
                            <input type="hidden" name="IdTrainingCourse" id="IdTrainingCourse" class="form-control" />
                            <input type="text" name="Name" id="Name" placeholder="Khóa đào tạo" value="" class="form-control" readonly />
                            <small id="Statusdeadline" class="ms-2 mt-2 text-muted"></small>
                        </div>
                        <div class="col col-6 col-md-6 col-sm-12">
                            <label class="text-success">Phí đào tạo:</label>
                            <input type="text" name="Price" id="Price" placeholder="Phí đào tạo" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Chọn nhân sự:</label>
                            @Html.DropDownList("IdEmployee", null, htmlAttributes: new { @class = "form-control", @onchange = "javascript:Load_infoByEmployee()" })
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Số điện thoại:</label>
                            <input type="text" name="Phone" id="Phone" placeholder="Số điện thoại" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Địa chỉ Email:</label>
                            <input type="text" name="Email" id="Email" placeholder="Email" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Vị trí công tác:</label>
                            <input type="text" name="Vitri" id="Vitri" placeholder="Vị trí làm việc" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Thời gian công tác:</label>
                            <input type="text" name="Thoigian" id="Thoigian" placeholder="Thời gian công tác" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Đăng ký lưu trú:</label>
                            <select name="Luutru" id="Luutru" class="form-control">
                                <option value="true">Đăng ký</option>
                                <option value="false">Không đăng ký</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <span class="loader"></span>
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="closeModal()">
                            <i class="ti ti-door-exit"></i> Thoát
                        </button>
                        <button type="button" class="btn btn-sm btn-success" onclick="Submit_registration()">
                            <i class="ti ti-registered"></i> Đăng ký tham gia
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalRegistration" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content" style="">
            <form action="/" method="post" id="form_xuat">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalLabel2">Danh sách đăng ký tham gia đào tạo</h5>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <input type="hidden" name="IdTraining" id="IdTraining" value="" />
                    <div class="row">
                        <div class="col col-md-6 mt-3">
                            <label class="text-success">Tên khóa đào tạo</label>
                            <input type="text" id="NameTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label class="text-success">Phí đào tạo</label>
                            <input type="text" id="PriceTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label class="text-success">Mô tả</label>
                            <input type="text" id="DescriptionTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-4 mt-3">
                            <label class="text-success">Hạn chót đăng ký</label>
                            <input type="text" id="DeadlineTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-4 mt-3">
                            <label class="text-success">Ngày bắt đầu</label>
                            <input type="text" id="FromdateTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-4 mt-3">
                            <label class="text-success">Ngày kết thúc</label>
                            <input type="text" id="TodateTraining" value="" class="form-control" readonly />
                        </div>
                    </div>
                    <p class="text-muted fw-light mt-3 text-decoration-underline"><i class="ti ti-file-analytics"></i> Danh sách đính kèm</p>
                    <table class="table table-bordered">
                        <tr class="bg-success text-white">
                            <th class="text-center">STT</th>
                            <th class="text-left">Họ tên</th>
                            <th class="text-center">Số điện thoại</th>
                            <th class="text-left">Email</th>
                            <th class="text-center">Cơ sở</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Đăng ký lưu trú</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                        <tbody id="showlist_dangky"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <a href="javascript:Load_paymentFee()" class="btn btn-sm btn-success">
                        <i class="ti ti-credit-card"></i> Thanh toán phí tham gia
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="modalPaymentLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content" style="">
            <form action="/" method="post" id="form_payment" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="modalPaymentLabel">Thanh toán phí đào tạo</h5>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <input type="hidden" name="IdTraining" id="IdTrainingPayment" value="" />
                    <div class="row" id="showinfo_payment">

                        <div class="col-md-4 mt-3">
                            <label>Khóa đào tạo</label>
                            <div class="col-md-12">
                                <input type="text" name="NameCourse" id="NameCourse" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label>Phí đào tạo</label>
                            <div class="col-md-12">
                                <input type="hidden" name="NumberPayment" id="NumberPayment" class="form-control" value="" />
                                <input type="hidden" name="NumberDiscount" id="NumberDiscount" class="form-control" value="" />
                                <input type="text" name="PriceCourse" id="PriceCourse" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label>Số tiền cần thanh toán</label>
                            <div class="col-md-12">
                                <input type="text" name="TotalAmount" id="TotalAmount" class="form-control" value="" />
                                <span id="statusDiscount"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <label>Upload chứng từ thanh toán</label>
                            <div class="col-md-12">
                                <input type="file" id="Image" name="Image" accept="image/*" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>Ghi chú kèm theo</label>
                            <div class="col-md-12">
                                <input type="text" name="Description" id="Description" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <blockquote class="mt-3 fs-2 border-success border-2" id="blockthanhtoan">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width:150px;text-align:left">Tên TK:</th>
                                    <td><b>CÔNG TY CỔ PHẦN SUPERBRAIN GROUP</b></td>
                                </tr>
                                <tr>
                                    <th style="width:150px;text-align:left">Số TK: </th>
                                    <td>007 100 131 9979</td>
                                    <td>Ngân <span class="il">hàng</span> Vietcombank CN TP.HCM.</td>
                                </tr>
                                <tr>
                                    <th style="width:150px;text-align:left">Số TK: </th>
                                    <td>009 979 979 999</td>
                                    <td>Ngân <span class="il">hàng</span> MB Bank - CN An Phú.</td>
                                </tr>
                                <tr>
                                    <th style="width:150px;text-align:left">Số TK: </th>
                                    <td>190 366 4766 1012</td>
                                    <td>Ngân <span class="il">hàng</span> Techcombank CN Trần Não.</td>
                                </tr>
                                <tr>
                                    <th style="width:150px;text-align:left">Nội dung:</th>
                                    <td><i>[Tên cơ sở] thanh toán phí đào tạo[Tên khóa đào tạo]</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </blockquote>
                    <p class="text-muted fw-bold">Tình trạng: <span id="statusPayment"></span></p>
                    <a href="javascript:Submit_paymentFee()" class="btn btn-success"><i class="ti ti-credit-card"></i> Cập nhật thanh toán</a>
                    <span class="loader"></span>
                    <p class="text-muted fw-bold mt-3 text-decoration-underline"><i class="ti ti-file-analytics"></i> Danh sách đính kèm</p>
                    <table class="table ">
                        <tr class="bg-success text-white">
                            <th class="text-center">STT</th>
                            <th class="text-left">Họ tên</th>
                            <th class="text-center">Điện thoại</th>
                            <th class="text-left">Email</th>
                            <th class="text-left">Cơ sở</th>
                            <th class="text-center">Trạng thái</th>
                        </tr>
                        <tbody id="showlist_payment"></tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRating" tabindex="-1" aria-labelledby="modalRatingLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content" style="">
            <form action="/" method="post" id="form_xuat">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="modalRatingLabel2">Kết quả giáo viên tham gia đào tạo</h5>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <input type="hidden" name="IdTraining" id="IdTraining" value="" />
                    <div class="row" id="showinfo">
                    </div>
                    <p class="text-muted fw-light mt-3 text-decoration-underline"><i class="ti ti-file-analytics"></i> Danh sách đính kèm</p>
                    <table class="table ">
                        <tr class="bg-success text-white">
                            <th class="text-center">STT</th>
                            <th class="text-left">Họ tên</th>
                            <th class="text-center">Ngày sinh</th>
                            <th class="text-center">Điện thoại</th>
                            <th class="text-left">Email</th>
                            <th class="text-left">Cơ sở</th>
                            <th class="text-center">Kết quả</th>
                            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                            {
                                <th class="text-center">Thao tác</th>
                            }
                        </tr>
                        <tbody id="showlist_rating"></tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRatingEmployees" tabindex="-1" aria-labelledby="modalRatingEmployeesLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content" style="">
            <form action="/" method="post" id="form-danhgia">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="modalRatingEmployeesLabel2">Đánh giá giáo viên tham gia đào tạo </h5>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-6 mt-3">
                            <label>Khóa đào tạo</label>
                            <input type="hidden" name="rateIdTrainning" value="" id="rateIdTrainning" />
                            <input type="text" name="rateNameTrainning" id="rateNameTrainning" value="" class="form-control disabled" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Giáo viên tham gia</label>
                            <input type="hidden" name="rateIdEmployee" value="" id="rateIdEmployee" />
                            <input type="text" name="rateNameEmployee" id="rateNameEmployee" value="" class="form-control disabled" />
                        </div>

                        <div class="col col-md-6 mt-3">
                            <label>Kết quả</label>
                            <select id="rateResult" class="form-control">
                                <option value="true">Đã đạt</option>
                                <option value="false">Chưa đạt</option>
                            </select>
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Số giấy chứng nhận</label>
                            <input type="text" name="rateNumberofCertificate" id="rateNumberofCertificate" value="" class="form-control" />
                        </div>

                        <h5 class="text-primary mt-3"><i class="ti ti-rating-12-plus"></i> Điểm chuyên môn</h5>

                        <div class="col col-md-6 mt-3">
                            <label>Bài KT tổng kết 1</label>
                            <input type="text" name="rateTotalScore" id="rateTotalScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Tổng quan Superbrain</label>
                            <input type="text" name="rateSuperbrainScore" id="rateSuperbrainScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Nhận diện thương hiệu</label>
                            <input type="text" name="rateBrandScore" id="rateBrandScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Hoạt động giảng dạy</label>
                            <input type="text" name="rateTeachScore" id="rateTeachScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Chốt sale</label>
                            <input type="text" name="rateSaleScore" id="rateSaleScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Tâm thế người hướng dẫn</label>
                            <input type="text" name="rateMindsetScore" id="rateMindsetScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Soroban</label>
                            <input type="text" name="rateSorobanScore" id="rateSorobanScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Luyện tập Online</label>
                            <input type="text" name="rateOnlineScore" id="rateOnlineScore" value="" class="form-control" />
                        </div>

                        <h5 class="text-primary mt-3"><i class="ti ti-rating-12-plus"></i> Điểm thái độ</h5>

                        <div class="col col-md-6 mt-3">
                            <label>Hoàn thành bài tập đầy đủ</label>
                            <input type="text" name="rateCompleteScore" id="rateCompleteScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Tham gia đầy đủ</label>
                            <input type="text" name="rateParticipationScore" id="rateParticipationScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Đúng tác phong</label>
                            <input type="text" name="rateDemeanorScore" id="rateDemeanorScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label>Tích cực chủ động</label>
                            <input type="text" name="rateProactiveScore" id="rateProactiveScore" value="" class="form-control" />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label>Nhận xét chung</label>
                            <textarea type="text" name="rateDescription" id="rateDescription" value="" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <button type="button" class="btn btn-sm btn-success" onclick="Submit_rating()">
                        <i class="ti ti-device-floppy"></i> Cập nhật đánh giá
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var isProcessing = false;
    Loadlist();
    function Loadlist() {
        $.ajax({
            url: '@Url.Action("Loadlist", "TrainingCourses")',
            type: "GET",
            data: {
            },
            success: function (data) {
                console.log(data);
                $('#showlist').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Load_registration(id) {
        $.ajax({
            url: '@Url.Action("Load_registration", "TrainingCourses")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#showlist_dangky').html(data.str);
                $('#NameTraining').val(data.name);
                $('#DescriptionTraining').val(data.description);
                $('#PriceTraining').val(data.price);
                $('#DeadlineTraining').val(data.deadline);
                $('#FromdateTraining').val(data.from);
                $('#TodateTraining').val(data.to);
                $('#IdTraining').val(id);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function close_modal() {
        $("#exampleModal").modal('hide');
        $("#modalRegistration").modal('hide');
        $('#showlist_dangky').html("");
    }
    function View_registration(id) {
        Load_registration(id);
        $("#IdTraining").val(id);
        $("#modalRegistration").modal('show');
    }
    function Rating_registration(id) {
        Load_ratingregistration(id);
        $("#modalRating").modal('show');
    }
    function Load_ratingregistration(id) {
        $.ajax({
            url: '@Url.Action("Load_ratingregistration", "TrainingCourses")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#showlist_rating').html(data.str);
                $('#showinfo').html(data.strinfo);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Load_paymentFee() {
        $.ajax({
            url: '@Url.Action("Load_payment", "TrainingCourses")',
            type: "GET",
            data: {
                id: $("#IdTraining").val(),
            },
            success: function (data) {
                $('#IdTrainingPayment').val($("#IdTraining").val());
                $('#NameCourse').val(data.strName);
                $('#PriceCourse').val(data.strphi);
                $('#TotalAmount').val(data.strtongtien);
                $('#statusPayment').html(data.strStatus);
                $('#statusDiscount').html(data.strDiscount);
                $('#NumberDiscount').val(data.discount);
                $('#NumberPayment').val(data.count_chuadongphi);
                $('#showlist_payment').html(data.str);
                $('#modalRegistration').modal('hide');
                $('#modalPayment').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Submit_paymentFee() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");

        var tongtien = parseFloat($("#TotalAmount").val().replace(/,/g, '')); // Remove all commas
        var fileInput = $("#Image")[0];
        var file = fileInput.files[0];

        // Tạo FormData để gửi tệp cùng với các dữ liệu khác
        var formData = new FormData();
        formData.append("IdTrainingCourse", $("#IdTrainingPayment").val());
        formData.append("Number", $("#NumberPayment").val());
        formData.append("Discount", $("#NumberDiscount").val());
        formData.append("Tongtien", tongtien);
        formData.append("Description", $("#Description").val());

        // Kiểm tra nếu có file, thêm vào FormData
        if (file) {
            formData.append("file", file);
        }

        $.ajax({
            url: '@Url.Action("Submit_paymentFee", "TrainingCourses")',
            type: "POST",
            data: formData, // Gửi FormData
            processData: false,  // Không xử lý dữ liệu (FormData sẽ xử lý)
            contentType: false,  // Không đặt content type vì FormData tự xử lý
            dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#modalPayment').modal('hide');
                    showSuccess(data.message, 3000);
                    Loadlist();
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            },
            error: function () {
                showError('Lỗi!', 3000);
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            }
        });
    }


    function loadRatingModal(IdTrainingCourse, IdEmployee) {
        $.ajax({
            url: '@Url.Action("LoadRating", "TrainingCourses")',
            type: "POST",
            data: {
                IdTrainingCourse: IdTrainingCourse,
                IdEmployee: IdEmployee
            },
            dataType: "json",
            success: function (data) {
                if (data.status === "ok") {
                    var rating = data.data;

                    // Điền dữ liệu vào các trường trong modal với giá trị mặc định nếu chưa có kết quả
                    $("#rateIdTrainning").val(rating.IdTrainingCourse);
                    $("#rateIdEmployee").val(rating.IdEmployee);
                    $("#rateNameEmployee").val(rating.nameEmployee);
                    $("#rateNameTrainning").val(rating.nameCourse);
                    $("#rateResult").val(rating.Result);
                    $("#rateNumberofCertificate").val(rating.NumberCertification || "");
                    $("#rateTotalScore").val(rating.TotalScore || 0);
                    $("#rateSuperbrainScore").val(rating.SuperbrainScore || "");
                    $("#rateBrandScore").val(rating.BrandScore || "");
                    $("#rateTeachScore").val(rating.TeachScore || "");
                    $("#rateSaleScore").val(rating.SaleScore || "");
                    $("#rateMindsetScore").val(rating.MindsetScore || "");
                    $("#rateSorobanScore").val(rating.SorobanScore || "");
                    $("#rateOnlineScore").val(rating.OnlineScore || "");
                    $("#rateCompleteScore").val(rating.CompleteScore || "");
                    $("#rateParticipationScore").val(rating.ParticipationScore || "");
                    $("#rateDemeanorScore").val(rating.DemeanorScore || "");
                    $("#rateProactiveScore").val(rating.ProactiveScore || "");
                    $("#rateDescription").val(rating.Description || "");

                    // Hiển thị modal
                    $('#modalRating').modal('hide');
                    $('#modalRatingEmployees').modal('show');
                    loadResultSelect(rating.Result);
                } else {
                    showError(data.message, 3000);
                }
            },
            error: function () {
                showError('Lỗi trong quá trình tải dữ liệu!', 3000);
            }
        });
    }
    function loadResultSelect(result) {
        if (result === true) {
            $('#rateResult').val('true');  // Nếu Result là true, chọn "Đã đạt"
        } else if (result === false) {
            $('#rateResult').val('false');  // Nếu Result là false, chọn "Chưa đạt"
        }
    }

    function Submit_rating() {
        $.ajax({
            url: '@Url.Action("Submit_rating", "TrainingCourses")',
            type: "POST",
            data: {
                IdEmployee: $("#rateIdEmployee").val(),
                IdTrainingCourse: $("#rateIdTrainning").val(),
                Result: $("#rateResult").val(),
                NumberCertification: $("#rateNumberofCertificate").val(),
                TotalScore: $("#rateTotalScore").val(),
                SuperbrainScore: $("#rateSuperbrainScore").val(),
                BrandScore: $("#rateBrandScore").val(),
                SaleScore: $("#rateSaleScore").val(),
                SaleScore: $("#rateSaleScore").val(),
                MindsetScore: $("#rateMindsetScore").val(),
                SorobanScore: $("#rateSorobanScore").val(),
                OnlineScore: $("#rateOnlineScore").val(),
                CompleteScore: $("#rateCompleteScore").val(),
                ParticipationScore: $("#rateParticipationScore").val(),
                DemeanorScore: $("#rateDemeanorScore").val(),
                ProactiveScore: $("#rateProactiveScore").val(),
                Description: $("#rateDescription").val()
            }
        , dataType: "json",
        success: function (data) {
            if (data.status == "ok") {
                $('#modalRatingEmployees').modal('hide');
                Load_ratingregistration($("#rateIdTrainning").val());
                showSuccess("Đã đánh giá thành công!", 3000);
            }
            else {
                showError(data.status, 3000);
            }
        },
        error: function () { showError('Lỗi!', 3000); }
        });
    }

    function Load_dangky(id) {
        Load_infoByTrainingCourse(id);
        $("#IdTrainingCourse").val(id);
        $("#exampleModal").modal('show');
    }
    Load_infoByEmployee();
    function Load_infoByTrainingCourse(id) {
        $.ajax({
            url: '@Url.Action("Load_infoByTrainingCourse", "TrainingCourses")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                console.log(data);
                $('#Name').val(data.name);
                $('#Price').val(data.price);
                $('#Statusdeadline').html(data.deadline);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
        return false;
    }
    function Load_infoByEmployee() {
        $.ajax({
            url: '@Url.Action("Load_infoByEmployee", "TrainingCourses")',
            type: "GET",
            data: {
                id: $("#IdEmployee").val()
            },
            success: function (data) {
                console.log(data);
                $('#Phone').val(data.phone);
                $('#Email').val(data.email);
                $('#Vitri').val(data.position);
                $('#Thoigian').val(data.time);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
        return false;
    }
    function Submit_registration() {
        $.ajax({
            url: '@Url.Action("Submit_registration", "TrainingCourses")',
            type: "POST",
            data: {
                IdEmployee: $("#IdEmployee").val(),
                IdTrainingCourse: $("#IdTrainingCourse").val(),
                Luutru: $("#Luutru").val(),
                Phone: $("#Phone").val(),
                Email: $("#Email").val(),
            }
        , dataType: "json",
        success: function (data) {
            if (data.status == "ok") {
                $('#exampleModal').modal('hide');
                location.reload();
                showSuccess("Đã đăng ký tham gia thành công!", 3000);
            }
            else {
                showError(data.status, 3000);
            }
        },
        error: function () { showError('Lỗi!', 3000); }
        });
    }

    function Confirm_reg(Id,IdEmployee) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đánh dấu là đang xử lý
        if (confirm('Bạn có muốn xác nhận thanh toán cho nhân sự này?')) {
            $.ajax({
                url: '@Url.Action("Confirm_reg", "TrainingCourses")',
                type: 'POST',
                data: {
                    IdTrainning: Id,
                    IdEmployee: IdEmployee
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                    isProcessing = false;
                },
                error: function () {
                    showError('Error deleting employee',3000);
                    isProcessing = false;
                }
            });
        }
    }
    function Return_reg(Id,IdEmployee) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đánh dấu là đang xử lý
        if (confirm('Bạn có muốn hủy xác nhận thanh toán cho nhân sự này?')) {
            $.ajax({
                url: '@Url.Action("Return_reg", "TrainingCourses")',
                type: 'POST',
                data: {
                    IdTrainning: Id,
                    IdEmployee: IdEmployee
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                    isProcessing = false;
                },
                error: function () {
                    showError('Error deleting employee',3000);
                    isProcessing = false;
                }
            });
        }
    }
    function Cancel_reg(Id,IdEmployee) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đánh dấu là đang xử lý
        if (confirm('Bạn có muốn hủy tham gia cho nhân sự này?')) {
            $.ajax({
                url: '@Url.Action("Cancel_reg", "TrainingCourses")',
                type: 'POST',
                data: {
                    IdTrainning: Id,
                    IdEmployee: IdEmployee
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                    isProcessing = false;
                },
                error: function () {
                    showError('Error deleting employee',3000);
                    isProcessing = false;
                }
            });
        }
    }
    function Delete_trainning(Id) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đánh dấu là đang xử lý
        if (confirm('Bạn có xóa khóa đào tạo này?')) {
            $.ajax({
                url: '@Url.Action("Delete_trainning", "TrainingCourses")',
                type: 'POST',
                data: {
                    id: Id,
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                    isProcessing = false;
                },
                error: function () {
                    showError('Lỗi khi xóa khóa đào tạo',3000);
                    isProcessing = false;
                }
            });
        }
    }
</script>