@model IEnumerable<SuperbrainManagement.Models.TrainingCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;

    int idbranch = Convert.ToInt32(SuperbrainManagement.Controllers.CheckUsers.idBranch());
}
<div class="row">
    <div class="col col-md-6 col-sm-12">
        <form action="/trainingcourses" method="get" id="formload">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="/trainingcourses/create" class="btn btn-md btn-success ms-0"><i class="ti ti-circle-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Khóa đào tạo</th>
            <th class="text-center">Hạn đăng ký</th>
            <th class="text-center">Ngày bắt đầu</th>
            <th class="text-center">Ngày kết thúc</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
        <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content rounded-0 h-75">
            <form action="/" method="post" id="form_xuat">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="exampleModalLabel2">Đăng ký giáo viên tham gia đào tạo</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-6 col-md-6 col-sm-12">
                            <label class="text-success">Khóa đào tạo:</label>
                            <input type="hidden" name="IdTrainingCourse" id="IdTrainingCourse" class="form-control" />
                            <input type="text" name="Name" id="Name" placeholder="Khóa đào tạo" value="" class="form-control" readonly />
                            <small id="Statusdeadline" class="ms-2 mt-2 text-muted"></small>
                        </div>
                        <div class="col col-6 col-md-6 col-sm-12">
                            <label class="text-success">Phí đào tạo:</label>
                            <input type="text" name="Price" id="Price" placeholder="Phí đào tạo" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Chọn nhân sự:</label>
                            @Html.DropDownList("IdEmployee", null, htmlAttributes: new { @class = "form-control", @onchange = "javascript:Load_infoByEmployee()" })
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Số điện thoại:</label>
                            <input type="text" name="Phone" id="Phone" placeholder="Số điện thoại" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Địa chỉ Email:</label>
                            <input type="text" name="Email" id="Email" placeholder="Email" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Vị trí công tác:</label>
                            <input type="text" name="Vitri" id="Vitri" placeholder="Vị trí làm việc" value="" class="form-control" readonly/>
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Thời gian công tác:</label>
                            <input type="text" name="Thoigian" id="Thoigian" placeholder="Thời gian công tác" value="" class="form-control" readonly/>
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Đăng ký lưu trú:</label>
                            <select name="Luutru" id="Luutru" class="form-control">
                                <option value="true">Đăng ký</option>
                                <option value="false">Không đăng ký</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-start">
                    <button type="button" class="btn btn-success" onclick="Submit_registration()">
                        <i class="ti ti-registered"></i> Đăng ký tham gia
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalRegistration" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content rounded-0 h-75">
            <form action="/" method="post" id="form_xuat">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="exampleModalLabel2">Danh sách đang ký tham gia đào tạo
                    
                    </h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="IdTraining" id="IdTraining" value="" />
                    <div class="row">
                        <div class="col col-md-6 mt-3">
                            <label class="text-success">Tên khóa đào tạo</label>
                            <input type="text" id="NameTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-6 mt-3">
                            <label class="text-success">Phí đào tạo</label>
                            <input type="text" id="PriceTraining" value="" class="form-control" readonly/>
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label class="text-success">Mô tả</label>
                            <input type="text" id="DescriptionTraining" value="" class="form-control"  readonly/>
                        </div>
                        <div class="col col-md-4 mt-3">
                            <label class="text-success">Hạn chót đăng ký</label>
                            <input type="text" id="DeadlineTraining" value="" class="form-control" readonly/>
                        </div>
                        <div class="col col-md-4 mt-3">
                            <label class="text-success">Ngày bắt đầu</label>
                            <input type="text" id="FromdateTraining" value="" class="form-control" readonly />
                        </div>
                        <div class="col col-md-4 mt-3">
                            <label class="text-success">Ngày kết thúc</label>
                            <input type="text" id="TodateTraining" value="" class="form-control" readonly/>
                        </div>
                    </div>
                    <p class="text-muted fw-light mt-3 text-decoration-underline"><i class="ti ti-file-analytics"></i> Danh sách đính kèm</p>
                    <table class="table table-bordered">
                        <tr class="bg-success text-white">
                            <th class="text-center">STT</th>
                            <th class="text-left">Họ tên</th>
                            <th class="text-center">Số điện thoại</th>
                            <th class="text-left">Email</th>
                            <th class="text-center">Cơ sở</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Đăng ký lưu trú</th>
                        </tr>
                        <tbody id="showlist_dangky"></tbody>
                    </table>
                </div>
                <div class="modal-footer text-start">
                    <button type="button" class="btn btn-success" onclick="Submit_payment()">
                        <i class="ti ti-credit-card"></i> Thanh toán phí tham gia
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    Loadlist();
    function Loadlist() {
        $.ajax({
            url: '@Url.Action("Loadlist", "TrainingCourses")',
            type: "GET",
            data: {
            },
            success: function (data) {
                console.log(data);
                $('#showlist').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Load_registration(id) {
        $.ajax({
            url: '@Url.Action("Load_registration", "TrainingCourses")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#showlist_dangky').html(data.str);
                $('#NameTraining').val(data.name);
                $('#DescriptionTraining').val(data.description);
                $('#PriceTraining').val(data.price);
                $('#DeadlineTraining').val(data.deadline);
                $('#FromdateTraining').val(data.from);
                $('#TodateTraining').val(data.to);
                $('#IdTraining').val(id);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function View_registration(id) {
        Load_registration(id);
        $("#IdTraining").val(id);
        $("#modalRegistration").modal('show');
    }

    function Load_dangky(id) {
        Load_infoByTrainingCourse(id);
        $("#IdTrainingCourse").val(id);
        $("#exampleModal").modal('show');
    }
    Load_infoByEmployee();
    function Load_infoByTrainingCourse(id) {
    $.ajax({
        url: '@Url.Action("Load_infoByTrainingCourse", "TrainingCourses")',
        type: "GET",
        data: {
            id: id
        },
        success: function (data) {
            console.log(data);
            $('#Name').val(data.name);
            $('#Price').val(data.price);
            $('#Statusdeadline').html (data.deadline);
        },
        error: function (xhr, error) {
            console.log(error);
        }
    });
    return false;
}
    function Load_infoByEmployee() {
        $.ajax({
            url: '@Url.Action("Load_infoByEmployee", "TrainingCourses")',
            type: "GET",
            data: {
                id: $("#IdEmployee").val()
            },
            success: function (data) {
                console.log(data);
                $('#Phone').val(data.phone);
                $('#Email').val(data.email);
                $('#Vitri').val(data.position);
                $('#Thoigian').val(data.time);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
        return false;
    }
    function Submit_registration() {
        $.ajax({
            url: '@Url.Action("Submit_registration", "TrainingCourses")',
            type: "POST",
            data: {
                IdEmployee: $("#IdEmployee").val(),
                IdTrainingCourse: $("#IdTrainingCourse").val(),
                Luutru: $("#Luutru").val(),
                Phone: $("#Phone").val(),
                Email: $("#Email").val(),
            }
        , dataType: "json",
        success: function (data) {
            if (data.status == "ok") {
                $('#exampleModal').modal('hide');
                location.reload();
                showSuccess("Đã đăng ký tham gia thành công!", 3000);
            }
            else {
                showError(data.status, 3000);
            }
        },
        error: function () { showError('Lỗi!', 3000); }
    });
}
</script>