@model PagedList.IPagedList<SuperbrainManagement.Models.Room>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Phòng học";
    ViewBag.Title = "Danh sách phòng học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-4 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="searchString" id="searchString" placeholder="Tìm kiếm" value="">
            <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="button" onclick="Loadlist()"><i class="ti ti-search text-white"></i></button>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 text-end">
        <a href="javascript:Add_room()" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table fs-3 mt-2">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Tên lớp</th>
            <th>Mô tả</th>
            <th class="text-center">Ngày tạo</th>
            <th class="text-center">Người tạo</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr class="loader"></tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabel">Thêm lớp học </h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" name="typeaction" value="" id="typeaction" />
                    <input type="hidden" name="IdRoomedit" value="" id="IdRoomedit" />

                    <label class="text-success mt-3">Tên phòng học</label>
                    <input type="text" class="form-control" id="NameRoom" name="NameRoom" value="" placeholder="Tên phòng" />

                    <label class="text-success mt-3">Mô tả</label>
                    <input type="text" class="form-control" id="DescriptionRoom" name="DescriptionRoom" value="" placeholder="Mô tả" />
                </div>
                <div class="modal-footer">
                    <a href="javascript:Submit_savechange()" class="btn btn-success" id="btnaction"> Lưu cập nhật</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

        Loadlist();
        function Loadlist() {
            $(".loader").html("<td colspan=6>Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
            $('#showlist').html("");
            $.ajax({
                url: '@Url.Action("Loadlist", "Rooms")',
                type: "GET",
                data: {
                    IdBranch: $("#IdBranch").val(),
                    searchString: $("#searchString").val()
                },
                success: function (data) {
                    console.log(data);
                    $('#showlist').html(data.str);
                    $(".loader").html("");
                },
                error: function (xhr, error) {
                    console.log(error);
                    $(".loader").html("");
                }
            });
        }
    function Add_room() {
    $('#exampleModalLabel').html("Thêm phòng học");
    $('#typeaction').val("create");
    $('#btnaction').html("Thêm mới");
    $('#exampleModal').modal('show');
}
function Edit_room(id) {
    $('#exampleModalLabel').html("Chỉnh sửa phòng học");
    $('#typeaction').val("edit");
    $('#btnaction').html("Cập nhật");
    $.ajax({
        url: '@Url.Action("Loadedit_room", "Rooms")',
        type: "GET",
        data: {
            id: id
        },
        success: function (data) {
            $('#IdRoomedit').val(id);
            $('#NameRoom').val(data.name);
            $('#DescriptionRoom').val(data.description);

            $('#exampleModal').modal('show');
        },
        error: function (xhr, error) {
            console.log(error);
        }
    });
}

function Submit_savechange() {
    $.ajax({
        url: '@Url.Action("Submit_savechanges", "Rooms")',
        type: "POST",
        data: {
            Id: $("#IdRoomedit").val(),
            action: $("#typeaction").val(),
            Name: $("#NameRoom").val(),
            Description: $("#DescriptionRoom").val()
        },
        success: function (data) {
            if (data.status == "ok") {
                $('#exampleModal').modal('hide');
                location.reload();
            } else {
                showError(data.message, 3000);
            }
        },
        error: function (xhr, error) {
            console.log(error);
        }
    });
}
    function Delete_room(Id) {
    if (confirm('Bạn có muốn xóa phòng học này?')) {
        $.ajax({
            url: '@Url.Action("Delete_Room", "Rooms")',
            type: 'POST',
            data: { id: Id },
            success: function (data) {
                if (data.status=="ok") {
                    location.reload();
                    showSuccess("Đã xóa thành công!", 3000);
                } else {
                    showError(data.message, 3000);
                }
            },
            error: function () {
                showError('Error deleting course', 3000);
            }
        });
    }
}
</script>