@model PagedList.IPagedList<SuperbrainManagement.Models.CourseBranch>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var courses = Model;
}        
<div class="row">
    <div class="col col-md-4 col-sm-12">
        <form action="" onsubmit="javascript: Loadlist()"  method="get" id="formload">
            <div class="input-group">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "javascript:Loadlist()" })
                }
            </div>
        </form>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <a href="javascript:Add_CourseBranch()" class="btn btn-md btn-success ms-0"><i class="ti ti-circle-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table fs-3 mt-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mã</th>
            <th>Tên</th>
            <th class="text-center">Học phí</th>
            <th class="text-center">Phí tài khoản</th>
            <th class="text-center">Số buổi</th>
            <th class="text-center">Số giờ</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabel">Thêm khóa học</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" name="typeaction" value="" id="typeaction" />
                    <label class="text-success">Cơ sở</label>
                    @Html.DropDownList("IdBranchForm", null, htmlAttributes: new { @class = "form-control" })

                    <label class="text-success mt-3">Khóa học</label>
                    @Html.DropDownList("IdCourse", null, htmlAttributes: new { @class = "form-control" })

                    <label class="text-success mt-3">Học phí</label>
                    <input type="text" class="form-control" id="PriceCourse" name="PriceCourse" value="0" placeholder="Học phí khóa học" />

                    <label class="text-success mt-3">Phí tài khoản Online</label>
                    <input type="text" class="form-control" id="PriceOnline" name="PriceOnline" value="0" placeholder="Phí tài khoản" />

                    <label class="text-success mt-3">Phí test đầu vào</label>
                    <input type="text" class="form-control" id="PriceTest" name="PriceTest" value="0" placeholder="Phí test đầu vào" />
                </div>
                <div class="modal-footer">
                    <a href="javascript:Submit_CourseBranch()" class="btn btn-success"> Lưu cập nhật</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    Loadlist();
    function Loadlist(sort) {
        $("#loading").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
         $.ajax({
             url: '@Url.Action("Loadlist", "Courses")',
             type: "GET",
             data: {
                 IdBranch : $("#IdBranch").val(),
                 sortOrder: sort,
                 searchString: $("#searchString").val()
             },
             success: function (data) {
                 console.log(data);
                $("#loading").html("");
                 $('#showlist').html(data.str);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }
    function Add_CourseBranch() {
        $("#exampleModalLabel").html("Thêm khóa học");
        $("#IdBranchForm").removeClass("disabled");
        $("#IdCourse").removeClass("disabled");
        $('#exampleModal').modal('show');
        $('#typeaction').val("create");
    }
    function Edit_CourseBranch(IdBranch, IdCourse) {
        $("#exampleModalLabel").html("Chỉnh sửa khóa học");
        $('#typeaction').val("edit");
        $("#IdBranchForm").val(IdBranch);
        $("#IdBranchForm").addClass("disabled");
        $("#IdCourse").addClass("disabled");
        $("#IdCourse").val(IdCourse);
        $.ajax({
            url: '@Url.Action("Load_EditCourseBranch", "Courses")',
            type: "GET",
            data: {
                IdBranch: IdBranch,
                IdCourse: IdCourse
            },
            success: function (data) {
                $('#PriceTest').val(data.phitest);
                $('#PriceCourse').val(data.phi);
                $('#PriceOnline').val(data.phitk);
                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Submit_CourseBranch() {
        $.ajax({
            url: '@Url.Action("Submit_CourseBranch", "Courses")',
            type: "POST",
            data: {
                IdCourse: $("#IdCourse").val(),
                IdBranch: $("#IdBranchForm").val(),
                PriceCourse: $("#PriceCourse").val(),
                PriceOnline: $("#PriceOnline").val(),
                PriceTest: $("#PriceTest").val(),
                Action: $("#typeaction").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    showSuccess(data.message, 3000);
                    Loadlist();
                    $('#exampleModal').modal('hide');
                } else {
                    showError(data.message,3000);
                }
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Delete_CourseBranch(IdBranch,IdCourse) {
        if (confirm('Bạn có muốn xóa khóa học của cơ sở này?')) {
            $.ajax({
                url: '@Url.Action("Delete_CourseBranch", "Courses")',
                type: 'POST',
                data: {
                    IdBranch: IdBranch,
                    IdCourse: IdCourse
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        Loadlist();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting course',3000);
                }
            });
        }
    }
</script>