@model PagedList.IPagedList<SuperbrainManagement.Models.CourseBranch>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
    var courses = Model;
}        <div class="row">
    <div class="col col-md-6 col-sm-12">
        <form action="/courses" method="get" id="formload">
            <div class="input-group mb-3">
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2" })
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="javascript:void(0)" class="btn btn-md btn-success ms-0" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="ti ti-circle-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Chương trình</th>
            <th class="text-center">Mã</th>
            <th>Tên</th>
            <th>Học phí</th>
            <th class="text-center">Số buổi</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @stt
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Program.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Course.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceCourse)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Sessons)
            </td>
            <td class="text-end">
                <a href="/courses/edit?IdBranch=@item.IdBranch&IdCourse=@item.IdCourse" class="me-1"><i class="ti ti-edit text-primary"></i></a>
                <a href="/courses/delete?IdBranch=@item.IdBranch&IdCourse=@item.IdCourse" class="me-1"><i class="ti ti-trash text-danger"></i></a>
                <a class="text-warning" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- Thêm các mục dropdown nếu cần -->
                </ul>
            </td>
        </tr>
        stt += 1;
    }
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabel">Thêm khóa học</h5>
                <button type="button" class="btn btn-sm text-danger" data-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form action="/Courses/CreateCourseBranches" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <label class="text-success">Cơ sở</label>
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control" })

                    <label class="text-success mt-3">Khóa học</label>
                    @Html.DropDownList("IdCourse", null, htmlAttributes: new { @class = "form-control" })

                    <label class="text-success mt-3">Học phí</label>
                    <input type="text" class="form-control" id="PriceCourse" name="PriceCourse" value="0" placeholder="Học phí khóa học" />

                    <label class="text-success mt-3">Số buổi</label>
                    <input type="text" class="form-control" id="Sessons" name="Sessons" value="0" placeholder="Số buổi khóa học" />

                    <label class="text-success mt-3">Phí tài khoản Online</label>
                    <input type="text" class="form-control" id="PriceOnline" name="PriceOnline" value="0" placeholder="Số buổi khóa học" />

                    <label class="text-success mt-3">Phí test đầu vào</label>
                    <input type="text" class="form-control" id="PriceTest" name="PriceTest" value="0" placeholder="Số buổi khóa học" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"> Lưu cập nhật</button>
                </div>
            </form>

        </div>
    </div>
</div>