@model PagedList.IPagedList<SuperbrainManagement.Models.BranchGroup>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Hệ thống cơ sở";
    ViewBag.Title = "Cụm cơ sở";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}
<div class="row">
    <div class="col col-md-3 col-sm-12">
        <form action="/branchgroups" method="get">
            <div class="input-group">
                <input type="text" class="form-control rounded-1" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter ">
                <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-9 col-sm-12 text-end">
        <a href="/branchgroups/create" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table table-bordered fs-3 mt-2">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th>Tên cụm</th>
            <th>Chủ đầu tư</th>
            <th class="text-center">Số điện thoại</th>
            <th>Địa chỉ email</th>
            <th class="text-center">Số lượng</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @stt
            </td>
            <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.NameInvestor)
            </td>
            <td class="align-content-center text-center">
                @Html.DisplayFor(modelItem => item.PhoneInvestor)
            </td>
            <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.EmailInvestor)
            </td>
            <td class="text-center align-content-center"><span class="btn btn-sm btn-outline-success">@item.Branches.Count()</span></td>
            <td class="text-end align-content-center">
                <a href="/branchgroups/edit/@item.Id" class="ms-1"><i class="ti ti-edit text-primary"></i></a>
                <a href="/branchgroups/delete/@item.Id" class="ms-1"><i class="ti ti-trash text-danger"></i></a>
            </td>
        </tr>
        stt += 1;
    }
</table>