@model SuperbrainManagement.Models.Student

@{
    ViewBag.Controller = "Học viên";
    ViewBag.Title = "Thêm học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/Students/Create" method="post" enctype="multipart/form-data" id="form_editStudent">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })<h5 class="text-success">Thêm học viên mới</h5>
        @Html.Raw(TempData["error"])
        <div class="row">
            <div class="col-12 col-xl-8 row">
                <h6 class="text-primary mt-2"><i class="ti ti-user-circle"></i> Thông tin học viên</h6>
                <div class="form-group mt-2">
                    <label class="form-control-label ms-2">Hình ảnh học viên:</label>
                    <input type="file" id="Image" name="Image" accept="image/*" class="form-control">
                </div>
                <div class="col-md-12 mt-2">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12 row mt-2 pe-0">
                    <div class="col-lg-6 pe-0">
                        <label class="form-control-label">Giới tính</label>
                        @{
                            var sex = new List<SelectListItem>
                                    {
                            new SelectListItem { Text = "Nam", Value = "Nam" },
                            new SelectListItem { Text = "Nữ", Value = "Nữ" }
                        };
                        }
                        @Html.DropDownListFor(model => model.Sex, sex, new { @class = "form-control", id = "Sex" })
                    </div>
                    <div class="col-lg-6 pe-0">
                        <label class="form-control-label">Sinh nhật</label>
                        <input class="form-control" type="text" name="Ngaysinh" id="Ngaysinh" value="" placeholder="Sinh nhật">
                        <input class="form-control" type="hidden" name="DateOfBirth" id="DateOfBirth" value="" placeholder="Sinh nhật">
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-2 pe-0">
                    <label class="form-control-label">Trường</label>
                    <div class="col-md-6 pe-0">
                        <input class="form-control" type="text" name="School" id="School" value="" placeholder="Đang học trường">
                    </div>
                    <div class="col-md-6 pe-0">
                        <input class="form-control" type="text" name="Class" id="Class" value="" placeholder="Lớp">
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <h6 class="text-primary mt-3"><i class="ti ti-users"></i> Thông tin phụ huynh</h6>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.ParentName, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ParentName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ParentName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.ParentDateOfBirth, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        <input type="text" name="Ngaysinhphuhuynh" id="Ngaysinhphuhuynh" class="form-control" value="" placeholder="Ngáy sinh của phụ huynh" />
                        <input type="hidden" name="ParentDateOfBirth" id="ParentDateOfBirth" class="form-control" value=""/>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="form-control-label">Địa chỉ</label>
                    <input class="form-control" type="text" name="Address" id="Address" value="" placeholder="Địa chỉ">
                </div>
                <div class="form-group row pe-0 mt-2">
                    <div class="col-lg-6 pe-0">
                        <input class="form-control" type="text" name="District" id="District" value="" placeholder="Quận / Huyện">
                    </div>
                    <div class="col-lg-6 pe-0">
                        <input class="form-control" type="text" name="City" id="City" value="" placeholder="Tỉnh / Thành phố">
                    </div>
                </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @{
                            var relationship = new List<SelectListItem>
                                                            {
                             new SelectListItem { Text = "Cha mẹ", Value = "Cha mẹ" },
                             new SelectListItem { Text = "Ông bà", Value = "Ông bà" },
                             new SelectListItem { Text = "Khác", Value = "Khác" }
                         };
                        }
                        @Html.DropDownListFor(model => model.Relationship, relationship, new { @class = "form-control", id = "Relationship" })
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="form-control-label ms-2">Phụ huynh biết qua</label>
                    @{
                        var bietqua = new List<SelectListItem>
                                        {
                        new SelectListItem { Text = "--", Value = "" },
                        new SelectListItem { Text = "Bạn bè", Value = "Bạn bè" },
                        new SelectListItem { Text = "Website", Value = "Website" },
                        new SelectListItem { Text = "Facebook", Value = "Facebook" },
                        new SelectListItem { Text = "Zalo", Value = "Zalo" },
                        new SelectListItem { Text = "Trường học", Value = "Trường học" },
                        new SelectListItem { Text = "Hội thảo", Value = "Hội thảo" },
                        new SelectListItem { Text = "Tờ rơi", Value = "Tờ rơi" },
                        new SelectListItem { Text = "Khác", Value = "Khác" }
                    };
                    }
                    @Html.DropDownListFor(model => model.Known, bietqua, new { @class = "form-control", id = "Known" })
                </div>
                <div class="form-group mt-2">
                    <label class="form-control-label">Nghề nghiệp</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Job, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Facebook, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Facebook, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row g-2">
                    <div class="col-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Cài đặt chung</h4>
                                <div class="row gx-3">
                                    @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                                    {
                                        <div class="col-12 col-sm-6 col-xl-12">
                                            <div class="mb-3">
                                                <div class="d-flex flex-wrap mb-2">
                                                    <h6 class="mb-0 text-body-highlight me-2">Cơ sở</h6>
                                                </div>
                                                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    }
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="mb-3">
                                            <div class="d-flex flex-wrap mb-2">
                                                <h6 class="mb-0 text-body-highlight me-2">Chương trình MKT</h6><a class="fw-bold fs-9" href="javascript:Create_type()">+ Thêm mới</a>
                                            </div>
                                            @Html.DropDownList("IdMKT", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="d-flex flex-wrap mb-2">
                                            <h6 class="mb-0 text-body-highlight me-2">Kích hoạt</h6>
                                        </div>
                                        <select class="form-select" aria-label="Kích hoạt" id="Enable" name="Enable">
                                            <option value="true">Kích hoạt</option>
                                            <option value="false">Không kích hoạt</option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="col-md-offset-2 col-md-12">
                                            <a href="javascript:Submit_createStudent()" class="btn btn-success">+ Thêm mới</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<script>

    $(function () {
        $("#Ngaysinh").datepicker({ dateFormat: "dd/mm/yy" });
        $("#Ngaysinhphuhuynh").datepicker({ dateFormat: "dd/mm/yy" });
    });
    var isProcessing = false;
    function Submit_createStudent() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý

        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");

        var DateOfBirth = $("#Ngaysinh").val().split("/").reverse().join("-");
        var ParentDateOfBirth = $("#Ngaysinhphuhuynh").val().split("/").reverse().join("-");
        $("#DateOfBirth").val(DateOfBirth);
        $("#ParentDateOfBirth").val(ParentDateOfBirth);

        var formData = new FormData(document.getElementById("form_editStudent"));

        $.ajax({
            url: '@Url.Action("Submit_createStudent", "Students")',
            type: "POST",
            data: formData,
            contentType: false,  // Không đặt `contentType` khi sử dụng FormData
            processData: false,  // Không xử lý dữ liệu thành chuỗi
            success: function (data) {
                if (data.status === "ok") {  // Sử dụng === để so sánh chính xác
                    showSuccess("Đã thêm học viên mới thành công!", 3000);
                    window.location.href = "/students";  // Sửa lỗi hàm chuyển hướng
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html(""); // Xóa thông báo tải
            },
            error: function (xhr, error) {
                isProcessing = false;
                $(".loader").html(""); // Xóa thông báo tải khi có lỗi
                showError("Đã có lỗi xảy ra, vui lòng thử lại!", 3000); // Hiển thị thông báo lỗi cho người dùng
                console.log("Lỗi: " + error);
            }
        });
    }
</script>
