@model SuperbrainManagement.Models.Student

@{
    ViewBag.Controller = "Học viên";
    ViewBag.Title = "Thông tin học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">   
</div><div class="row">
    <div class="col-lg-12">
        <div class="profile-card-4 z-depth-3">
            <div class="card">
                <div class="card-body bg-light rounded-top">
                    <div class="user-box ">
                        <img src="@(Model.Image != null ? Model.Image : "/Assets/images/profile/user-1.jpg")" height="100" width="100" alt="user avatar" class="rounded-circle">
                        <a href="javascript:void(0)" class="bg-success rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-user-check fs-4"></i></a>
                        <h6 class="text-success mt-2">@Model.Name</h6>
                        <h6 class="text-muted">@(Model.DateOfBirth==null?"":Model.DateOfBirth.Value.ToString("dd/MM/yyyy"))</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card z-depth-3">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="thongtin-tab" data-bs-toggle="tab" data-bs-target="#thongtin" type="button" role="tab" aria-controls="thongtin" aria-selected="true">Thông tin học viên</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tuvan-tab" data-bs-toggle="tab" data-bs-target="#tuvan" type="button" role="tab" aria-controls="tuvan" aria-selected="true">Lịch sử Tư vấn <span class="badge bg-success rounded-circle" id="count_tuvan"></span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Khóa học đã đăng ký <span class="badge bg-success rounded-circle">@ViewBag.Count</span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Lịch sử học <span class="badge bg-success rounded-circle">@ViewBag.Countlop</span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="taikhoan-tab" data-bs-toggle="tab" data-bs-target="#taikhoan" type="button" role="tab" aria-controls="taikhoan" aria-selected="false">Tài khoản <span class="badge bg-success rounded-circle" id="count_taikhoan"></span></button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-2" id="thongtin" role="tabpanel" aria-labelledby="thongtin-tab">
                        <form action="/Students/Edit/@Model.Id" method="post" enctype="multipart/form-data" id="form_editStudent">
                            @Html.AntiForgeryToken()
                            <div class="row text-start mt-3">
                                <div class="col-md-6">
                                    <h6 class="text-primary"><i class="ti ti-user-circle"></i> Thông tin học viên</h6>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Hình ảnh học viên:</label>
                                        <div class="col-lg-12">
                                            <input type="file" id="Image" name="Image" accept="image/*" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Mã học viên</label>
                                        <div class="col-lg-12">
                                            @Html.HiddenFor(model => model.Id)
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Họ tên</label>
                                        <div class="col-lg-12">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Giới tính</label>
                                        <div class="col-lg-12">
                                            @{
                                                var sex = new List<SelectListItem>
                                                            {
                            new SelectListItem { Text = "Nam", Value = "Nam" },
                            new SelectListItem { Text = "Nữ", Value = "Nữ" }
                        };
                                            }
                                            @Html.DropDownListFor(model => model.Sex, sex, new { @class = "form-control", id = "Sex" })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Sinh nhật</label>
                                        <div class="col-lg-12">
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Số điện thoại</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="Phone" id="Phone" value="@Model.Phone">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Email</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="email" name="Email" id="Email" value="@Model.Email">
                                        </div>
                                    </div>

                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Trường</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" name="School" id="School" value="@Model.School" placeholder="Đang học trường">
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" name="Class" id="Class" value="@Model.Class" placeholder="Lớp">
                                        </div>
                                    </div>

                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Tài khoản</label>
                                        <div class="col-lg-6">
                                            <input class="form-control @(SuperbrainManagement.Controllers.CheckUsers.CheckHQ() ? "" : "disabled")" type="text" name="Username" id="Username" value="@Model.Username">
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="password" name="Password" id="Password" value="@Model.Password" placeholder="Mật khẩu" onclick="myFunction()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-primary"><i class="ti ti-users"></i> Thông tin phụ huynh</h6>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Họ tên phụ huynh</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="ParentName" id="ParentName" value="@Model.ParentName" placeholder="Họ tên phụ huynh">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Ngày sinh</label>
                                        <div class="col-lg-12">
                                            @Html.EditorFor(model => model.ParentDateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Mối quan hệ với học viên</label>
                                        <div class="col-lg-12">
                                            @{
                                                var relationship = new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text = "--", Value = "" },
                                                                new SelectListItem { Text = "Cha mẹ", Value = "Cha mẹ" },
                                                                new SelectListItem { Text = "Ông bà", Value = "Ông bà" },
                                                                new SelectListItem { Text = "Khác", Value = "Khác" }
                                                            };
                                                }
                                            @Html.DropDownListFor(model => model.Relationship, relationship, new { @class = "form-control", id = "Relationship" })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Địa chỉ</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="Address" id="Address" value="@Model.Address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <div class="col-lg-6">
                                            <label class="form-control-label"></label>
                                            <input class="form-control" type="text" name="District" id="District" value="@Model.District" placeholder="City">
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-control-label"></label>
                                            <input class="form-control" type="text" name="City" id="City" value="@Model.City" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Nghề nghiệp</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="Job" id="Job" value="@Model.Job" placeholder="Nghề nghiệp">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <div class="col-lg-6">
                                            <label class="form-control-label ms-2">Phụ huynh biết qua</label>
                                            @{
                                                    var bietqua = new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text = "--", Value = "" },
                                                                new SelectListItem { Text = "Bạn bè", Value = "Bạn bè" },
                                                                new SelectListItem { Text = "Website", Value = "Website" },
                                                                new SelectListItem { Text = "Facebook", Value = "Facebook" },
                                                                new SelectListItem { Text = "Zalo", Value = "Zalo" },
                                                                new SelectListItem { Text = "Trường học", Value = "Trường học" },
                                                                new SelectListItem { Text = "Hội thảo", Value = "Hội thảo" },
                                                                new SelectListItem { Text = "Tờ rơi", Value = "Tờ rơi" },
                                                                new SelectListItem { Text = "Khác", Value = "Khác" }
                                                            };
                                                }
                                                @Html.DropDownListFor(model => model.Known, bietqua, new { @class = "form-control", id = "Known" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-control-label ms-2">Chương trình MKT</label>
                                            @Html.DropDownList("IdMKT", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <input type="hidden" name="DateCreate" id="DateCreate" value="@Model.DateCreate.ToShortDateString()" />
                                    @Html.HiddenFor(model => model.IdBranch)
                                    @Html.HiddenFor(model => model.Status)
                                    @Html.HiddenFor(model => model.Enable)
                                    @Html.HiddenFor(model => model.IdUser)
                                </div>
                            </div>
                            <a href="javascript:Submit_editStudent()" class="btn btn-success btn-sm mt-3"><i class="ti ti-edit"></i> Chỉnh sửa thông tin</a>
                        </form>
                    </div>
                    <div class="tab-pane fade p-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table rounded-0">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td class="text-center">STT</td>
                                    <td>Mã đăng ký</td>
                                    <td>Khóa học</td>
                                    <td>Thành tiền</td>
                                    <td>Ngày đăng ký</td>
                                    <td class="text-center">Thanh toán</td>
                                    <td class="text-center">Tình trạng</td>
                                    <td class="text-end">Thao tác</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_dangky"></tbody>
                        </table>
                        <a href="/students/AddCourseProgramOfStudents?IdStudent=@Model.Id" class="btn btn-success mt-2"><i class="ti ti-plus"></i> Đăng ký khóa học</a>
                    </div>
                    <div class="tab-pane fade p-2 pb-5" id="tuvan" role="tabpanel" aria-labelledby="tuvan-tab">
                        <div class="form-group">
                            <label class="text-success">
                                Ngày hẹn
                            </label>
                            <input type="date" name="Ngayhen" value="" class="form-control" id="Ngayhen" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="text-success">
                                Nội dung tư vấn
                            </label>
                            <textarea name="Noidung" value="" class="form-control" id="Noidung" placeholder="Nội dung tư vấn & kết quả"></textarea>
                        </div>
                        <a href="javascript:Submit_tuvan()" class="btn btn-success mt-2">Cập nhật tư vấn</a>
                        <hr />
                        <ul class="timeline-widget mb-0 position-relative mb-n5" id="showlist_tuvan">
                        </ul>
                    </div>
                    <div class="tab-pane fade p-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <table class="table rounded-0">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td class="text-center">STT</td>
                                    <td>Mã đăng ký</td>
                                    <td>Khóa học</td>
                                    <td>Lớp học</td>
                                    <td>Ngày bắt đầu</td>
                                    <td>Ngày kết thúc</td>
                                    <td class="text-center">Số buổi</td>
                                    <td>Ngày xét lớp</td>
                                    <td class="text-center">Tình trạng</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_lophoc"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade p-2" id="taikhoan" role="tabpanel" aria-labelledby="taikhoan-tab">
                        <div class="form-group">
                            <label class="text-success">
                                Số tiền nạp
                            </label>
                            <input type="text" name="Sotien" value="" class="form-control" id="Sotien" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="text-success">
                                Nội dung
                            </label>
                            <textarea name="Noidungnap" value="" class="form-control" id="Noidungnap" placeholder="Nội dung nạp"></textarea>
                        </div>
                        <a href="javascript:Submit_taikhoan()" class="btn btn-success mt-2">Nạp tài khoản</a>
                        <table class="table rounded-0 mt-3">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td class="text-center">STT</td>
                                    <td>Số tiền</td>
                                    <td>Nội dung</td>
                                    <td>Thời gian cập nhật</td>
                                    <td>Người thao tác</td>
                                    <td class="text-center">Loại</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_taikhoan"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="idStudent" value="@Model.Id" id="idStudent" />
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-right: -100px;margin-right: 110px;height: 100vh;">
        <div class="modal-content rounded-0" style="width: 600px;">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Xét vào lớp học</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Mã đăng ký</label>
                    <div class="col-lg-9">
                        <input type="hidden" class="form-control" name="IdRegistration" id="IdRegistration" />
                        <input class="form-control" name="RegistrationCode" id="RegistrationCode" disabled />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Khóa học</label>
                    <div class="col-lg-9">
                        <select id="IdCourse" class="form-control" disabled>
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Lớp học</label>
                    <div class="col-lg-9">
                        @Html.DropDownList("IdClass", null, htmlAttributes: new { @class = "form-control", onchange = "loadSchedule()" })
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày bắt đầu</label>
                    <div class="col-lg-9">
                        <input type="date" name="fromdate" value="" id="fromdate" class="form-control" onchange="javascript: Onchange_todate()" />
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày kết thúc</label>
                    <div class="col-lg-9">
                        <input type="date" name="todate" value="" id="todate" class="form-control" disabled />
                    </div>
                </div><br />
                <b>Thời khóa biểu</b>
                <div class="form-group row mt-2">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center"> Thứ</th>
                                <th class="text-center"> Giờ Học</th>
                                <th class="text-center"> Số Giờ</th>
                                <th class="text-center"> Giáo viên</th>
                            </tr>
                        </thead>
                        <tbody id="datarow">
                        </tbody>
                    </table>
                </div>
                <b>Lịch học</b>
                <div class="form-group row mt-2">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Ngày</th>
                                <th class="text-center"> Thứ</th>
                                <th class="text-center"> Giờ Học</th>
                                <th class="text-center"> Số Giờ</th>
                            </tr>
                        </thead>
                        <tbody id="timetable_datarow">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-start">
                <form action="/Students/ShowTimeTableData" method="get" target="_blank">
                    <input type="hidden" id="idClassShowTimeTbl" name="idClassShowTimeTbl"/>
                    <input type="hidden" id="fromDateShowTimeTbl"  name="fromDate" />
                    <input type="hidden" id="toDateShowTimeTbl"  name="toDate"/>
                    <input type="hidden" id="studentId"  name="studentId" value="@Model.Id"/>
                    <button type="submit" class="btn btn-info">
                        <i class="ti ti-calendar"></i> Xem thời khoá biểu
                    </button>
                </form>
                <button type="button" class="btn btn-success" onclick="Submit_xetlop()">
                    <i class="ti ti-circle-plus"></i> Xét vào lớp học
                </button>

            </div>
        </div>
    </div>
</div>
<script>
    Loadlist_tuvan();
    function Loadlist_tuvan() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_tuvan", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $("#count_tuvan").html(data.count);
                $('#showlist_tuvan').html(data.str);
            },
            error: function (xhr, error) {
                console.log("lỗi"+error);
            }
        });
    }
    Loadlist_khoadangky();
    function Loadlist_khoadangky() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_khoadangky", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $('#showlist_dangky').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }

    Loadlist_lophoc();
    function Loadlist_lophoc() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_lophoc", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $('#showlist_lophoc').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }
    Loadlist_taikhoan();
    function Loadlist_taikhoan() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_taikhoan", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $("#count_taikhoan").html(data.count);
                $('#showlist_taikhoan').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }

     function Submit_tuvan() {
         $.ajax({
             url: '@Url.Action("Submit_tuvan", "Students")',
             type: "POST",
             data: {
                 Noidung: $("#Noidung").val(),
                 Ngayhen: $("#Ngayhen").val(),
                 idStudent: $("#idStudent").val()
             },
             success: function (data) {
                 if (data.status = "ok") {
                     $("#Noidung").val("");
                     $("#Ngayhen").val("");
                     Loadlist_tuvan();
                     showSuccess("Đã cập nhật tư vấn thành công!", 3000);
                 }
             },
             error: function (xhr, error) {

                 console.log("lỗi"+error);
             }
         });
    }
     function Submit_taikhoan() {
     $.ajax({
         url: '@Url.Action("Submit_taikhoan", "Students")',
         type: "POST",
         data: {
             Noidung: $("#Noidungnap").val(),
             Sotien: $("#Sotien").val(),
             idStudent: $("#idStudent").val()
         },
         success: function (data) {
             if (data.status = "ok") {
                 $("#Sotien").val("");
                 $("#Noidungnap").val("");
                 Loadlist_taikhoan();
                 showSuccess("Đã nạp tài khoản thành công!", 3000);
             }
         },
         error: function (xhr, error) {

             console.log("lỗi"+error);
         }
     });
    }
    function Submit_editStudent() {
        var formData = new FormData(document.getElementById("form_editStudent"));

        $.ajax({
            url: '@Url.Action("Submit_editStudent", "Students")',
            type: "POST",
            data: formData,
            contentType: false,  // Không đặt `contentType` khi sử dụng FormData
            processData: false,  // Không xử lý dữ liệu thành chuỗi
            success: function (data) {
                if (data.status = "ok") {
                    showSuccess("Đã cập nhật thành công!", 3000);
                } else {
                    showError(data.message, 3000);
                }
            },
            error: function (xhr, error) {
                console.log("Lỗi: " + error);
            }
        });
    }

    function Loadlist_xetlop(idregistration, idcourse) {
        var today = new Date();

        // Định dạng ngày hôm nay thành chuỗi "yyyy-MM-dd" (định dạng của ô nhập ngày)
        var formattedToday = today.toISOString().split('T')[0];
        // Đặt giá trị mặc định cho ô nhập ngày bắt đầu là ngày hôm nay
        document.getElementById('fromdate').value = formattedToday;

        var fromDateValue = document.getElementById('fromdate').value;
        var fromDate = new Date(fromDateValue);

        fromDate.setMonth(fromDate.getMonth() + 3);

        // Chuyển đổi ngày kết thúc thành chuỗi theo định dạng "yyyy-MM-dd" (để phù hợp với ô nhập ngày)
        var toDateValue = fromDate.toISOString().slice(0, 10);

        // Gán giá trị của ô nhập ngày kết thúc là ngày sau khi cộng thêm 3 tháng
        document.getElementById('todate').value = toDateValue;

        $.ajax({
            url: '@Url.Action("Load_xetlop", "Students")',
            type: "GET",
            data: {
                idCourse: idcourse,
                idRegistration: idregistration,
                idStudent: $("#idStudent").val()
            },
            success: function (data) {
                $('#IdRegistration').val(idregistration);
                $('#RegistrationCode').val(data.registrionCode);
                $('#IdCourse').html(data.str);

            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }
    function Onchange_todate() {
        var fromDateValue = document.getElementById('fromdate').value;
        var fromDate = new Date(fromDateValue);

        // Cộng thêm 3 tháng vào ngày bắt đầu
        fromDate.setMonth(fromDate.getMonth() + 3);

        // Chuyển đổi ngày kết thúc thành chuỗi theo định dạng "yyyy-MM-dd" (để phù hợp với ô nhập ngày)
        var toDateValue = fromDate.toISOString().slice(0, 10);

        // Gán giá trị của ô nhập ngày kết thúc là ngày sau khi cộng thêm 3 tháng
        document.getElementById('todate').value = toDateValue;
    }
    function Submit_xetlop() {
        $.ajax({
            url: '@Url.Action("Submit_xetlop", "Students")',
            type: "POST",
            data: {
                idCourse: $("#IdCourse").val(),
                idRegistration: $("#IdRegistration").val(),
                idClass: $("#IdClass").val(),
                fromdate: $("#fromdate").val(),
                todate: $("#todate").val(),
                idStudent: $("#idStudent").val()
            },
            success: function (data) {
                if (data.status = "ok") {
                    $('#exampleModal').modal('hide');
                    showSuccess("Đã xét lớp thành công!", 3000);
                }
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }

    function Xetlop_modal(idregistration, idcourse) {
        Loadlist_xetlop(idregistration, idcourse);
        // Mở modal
        $('#exampleModal').modal('show');
    }
    loadSchedule();
    function loadSchedule() {
        const idClass = $("#IdClass").val();
        const fromDate = $("#fromdate").val();
        const toDate = $("#todate").val();

        $("#idClassShowTimeTbl").val(parseInt(idClass));
        $("#fromDateShowTimeTbl").val(fromDate);
        $("#toDateShowTimeTbl").val(toDate);

        $('#datarow').find('tr').remove();
        $('#timetable_datarow').find('tr').remove();

        $.ajax({
            url: '@Url.Action("GetSchedule", "Students")',
            type: "GET",
            data: {
                idClass: idClass,
                fromDate: fromDate,
                toDate: toDate
            },
            success: function (data) {
                if (data.status = "ok") {
                    let index = 1;
                    $.each(data.schedulesbyClass, function (key, value) {
                        $('#datarow')
                            .append('<tr><td>' + index++ + '</td><td>' + value.DayOfWeek + '</td><td>' + value.TimeSlot + '</td><td>' + value.HourQuantity + '</td><td>' + value.TeacherName +'</td></tr>');

                    });

                    $.each(data.timeTableData, function (index, value) {
                        $('#timetable_datarow')
                            .append('<tr><td>' + value.Date + '</td><td>' + value.DayOfWeek + '</td><td>' + value.TimeSlot + '</td><td>' + value.HourQuantity + '</td></tr>');
                    });
                }
            },
            error: function (xhr, error) {

                console.log("error: " + error);
            }
        });
    }
    function myFunction() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
