@model SuperbrainManagement.Models.Student

@{
    ViewBag.Controller = "Học viên";
    ViewBag.Title = "Thông tin học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">   
</div><div class="row">
    <div class="col-lg-12">
        <div class="profile-card-4 z-depth-3">
            <div class="card">
                <div class="card-body bg-light rounded-top">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="user-box text-center">
                                <img src="@(Model.Image != null ? Model.Image : "/Assets/images/profile/user-1.jpg")" height="100" width="100" alt="user avatar" class="rounded-circle">
                                <a href="javascript:void(0)" class="bg-success rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-user-check fs-4"></i></a>
                                <h5 class="text-success mt-2">@Model.Name</h5>
                                <h6 class="text-muted">@(Model.DateOfBirth == null ? "" : Model.DateOfBirth.Value.ToString("dd/MM/yyyy"))</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card z-depth-3">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="thongtin-tab" data-bs-toggle="tab" data-bs-target="#thongtin" type="button" role="tab" aria-controls="thongtin" aria-selected="true">Thông tin học viên</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tuvan-tab" data-bs-toggle="tab" data-bs-target="#tuvan" type="button" role="tab" aria-controls="tuvan" aria-selected="true">Lịch sử Tư vấn <span class="badge bg-success rounded-circle" id="count_tuvan"></span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Khóa học đã đăng ký <span class="badge bg-success rounded-circle">@ViewBag.Count</span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Lịch sử học <span class="badge bg-success rounded-circle">@ViewBag.Countlop</span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="taikhoan-tab" data-bs-toggle="tab" data-bs-target="#taikhoan" type="button" role="tab" aria-controls="taikhoan" aria-selected="false">Tài khoản <span class="badge bg-success rounded-circle" id="count_taikhoan"></span></button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-2" id="thongtin" role="tabpanel" aria-labelledby="thongtin-tab">
                        <form action="/Students/Edit/@Model.Id" method="post" enctype="multipart/form-data" id="form_editStudent">
                            @Html.AntiForgeryToken()
                            <div class="row text-start mt-3">
                                <div class="col-md-6">
                                    <h6 class="text-primary"><i class="ti ti-user-circle"></i> Thông tin học viên</h6>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Hình ảnh học viên:</label>
                                        <div class="col-lg-12">
                                            <input type="file" id="Image" name="Image" accept="image/*" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Mã học viên</label>
                                        <div class="col-lg-12">
                                            @Html.HiddenFor(model => model.Id)
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Họ tên</label>
                                        <div class="col-lg-12">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Giới tính</label>
                                        <div class="col-lg-12">
                                            @{
                                                var sex = new List<SelectListItem>
                                                                                     {
                                                    new SelectListItem { Text = "Nam", Value = "Nam" },
                                                    new SelectListItem { Text = "Nữ", Value = "Nữ" }
                                                };
                                            }
                                            @Html.DropDownListFor(model => model.Sex, sex, new { @class = "form-control", id = "Sex" })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Sinh nhật</label>
                                        <div class="col-lg-12">
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/dd/yyyy" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Số điện thoại</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="Phone" id="Phone" value="@Model.Phone">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Email</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="email" name="Email" id="Email" value="@Model.Email">
                                        </div>
                                    </div>

                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Trường</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" name="School" id="School" value="@Model.School" placeholder="Đang học trường">
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" name="Class" id="Class" value="@Model.Class" placeholder="Lớp">
                                        </div>
                                    </div>

                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Tài khoản</label>
                                        <div class="col-lg-6">
                                            <input class="form-control @(SuperbrainManagement.Controllers.CheckUsers.CheckHQ() ? "" : "disabled")" type="text" name="Username" id="Username" value="@Model.Username">
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="password" name="Password" id="Password" value="@Model.Password" placeholder="Mật khẩu" onclick="myFunction()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-primary"><i class="ti ti-users"></i> Thông tin phụ huynh</h6>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Họ tên phụ huynh</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="ParentName" id="ParentName" value="@Model.ParentName" placeholder="Họ tên phụ huynh">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Ngày sinh</label>
                                        <div class="col-lg-12">
                                            @Html.EditorFor(model => model.ParentDateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/dd/yyyy" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Mối quan hệ với học viên</label>
                                        <div class="col-lg-12">
                                            @{
                                                var relationship = new List<SelectListItem>
                                                                                                                                                                                                            {
                                                                new SelectListItem { Text = "--", Value = "" },
                                                                new SelectListItem { Text = "Cha mẹ", Value = "Cha mẹ" },
                                                                new SelectListItem { Text = "Ông bà", Value = "Ông bà" },
                                                                new SelectListItem { Text = "Khác", Value = "Khác" }
                                                            };
                                            }
                                            @Html.DropDownListFor(model => model.Relationship, relationship, new { @class = "form-control", id = "Relationship" })
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Địa chỉ</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="Address" id="Address" value="@Model.Address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <div class="col-lg-6">
                                            <label class="form-control-label"></label>
                                            <input class="form-control" type="text" name="District" id="District" value="@Model.District" placeholder="City">
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-control-label"></label>
                                            <input class="form-control" type="text" name="City" id="City" value="@Model.City" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="form-control-label ms-2">Nghề nghiệp</label>
                                        <div class="col-lg-12">
                                            <input class="form-control" type="text" name="Job" id="Job" value="@Model.Job" placeholder="Nghề nghiệp">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <div class="col-lg-6">
                                            <label class="form-control-label ms-2">Phụ huynh biết qua</label>
                                            @{
                                                var bietqua = new List<SelectListItem>
                                                                                                                                                                                                            {
                                                                new SelectListItem { Text = "--", Value = "" },
                                                                new SelectListItem { Text = "Bạn bè", Value = "Bạn bè" },
                                                                new SelectListItem { Text = "Website", Value = "Website" },
                                                                new SelectListItem { Text = "Facebook", Value = "Facebook" },
                                                                new SelectListItem { Text = "Zalo", Value = "Zalo" },
                                                                new SelectListItem { Text = "Trường học", Value = "Trường học" },
                                                                new SelectListItem { Text = "Hội thảo", Value = "Hội thảo" },
                                                                new SelectListItem { Text = "Tờ rơi", Value = "Tờ rơi" },
                                                                new SelectListItem { Text = "Khác", Value = "Khác" }
                                                            };
                                            }
                                            @Html.DropDownListFor(model => model.Known, bietqua, new { @class = "form-control", id = "Known" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-control-label ms-2">Chương trình MKT</label>
                                            @Html.DropDownList("IdMKT", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label class="col-md-12" for="mongmuon">Phụ huynh mong muốn</label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Phát triển trí não" name="mongmuon" id="mongmuon" type="checkbox"> Phát triển trí não
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Phát triển trí nhớ" name="mongmuon" id="mongmuon" type="checkbox"> Phát triển trí nhớ
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Tăng sự tập trung" name="mongmuon" id="mongmuon" type="checkbox"> Tăng sự tập trung
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Nâng cao kết quả học tập" name="mongmuon" id="mongmuon" type="checkbox"> Nâng cao kết quả học tập
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Làm toán siêu tốc" name="mongmuon" id="mongmuon" type="checkbox"> Làm toán siêu tốc
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Tăng sự tự tin" name="mongmuon" id="mongmuon" type="checkbox"> Tăng sự tự tin
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Phát triển tư duy" name="mongmuon" id="mongmuon" type="checkbox"> Phát triển tư duy
                                        </label>
                                        <label class="radio col-md-4 mt-1">
                                            <input value="Khác" name="mongmuon" id="mongmuon" type="checkbox"> Khác
                                        </label>
                                    </div>
                                    <input type="hidden" name="Hopeful" id="Hopeful" value="" />
                                    <input type="hidden" name="DateCreate" id="DateCreate" value="@Model.DateCreate.ToShortDateString()" />
                                    @Html.HiddenFor(model => model.IdBranch)
                                    @Html.HiddenFor(model => model.Status)
                                    @Html.HiddenFor(model => model.Enable)
                                    @Html.HiddenFor(model => model.IdUser)
                                </div>
                            </div>
                            <a href="javascript:Submit_editStudent()" class="btn btn-success btn-md mt-3"><i class="ti ti-edit"></i> Chỉnh sửa thông tin</a>
                            <span class="loader"></span>
                        </form>
                    </div>
                    <div class="tab-pane fade p-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table rounded-0">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td class="text-center">STT</td>
                                    <td>Mã đăng ký</td>
                                    <td>Khóa học</td>
                                    <td class="text-end">Thành tiền</td>
                                    <td class="text-center">Ngày đăng ký</td>
                                    <td class="text-center">Thanh toán</td>
                                    <td class="text-center">Tình trạng</td>
                                    <td class="text-end">Thao tác</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_dangky"></tbody>
                        </table>
                        <a href="/students/AddCourseProgramOfStudents?IdStudent=@Model.Id" class="btn btn-success mt-2"><i class="ti ti-plus"></i> Đăng ký khóa học</a>
                    </div>
                    <div class="tab-pane fade p-2 pb-5" id="tuvan" role="tabpanel" aria-labelledby="tuvan-tab">
                        <div class="form-group">
                            <label class="text-success">
                                Ngày hẹn
                            </label>
                            <input type="date" name="Ngayhen" value="" class="form-control" id="Ngayhen" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="text-success">
                                Nội dung tư vấn
                            </label>
                            <textarea name="Noidung" value="" class="form-control" id="Noidung" placeholder="Nội dung tư vấn & kết quả"></textarea>
                        </div>
                        <a href="javascript:Submit_tuvan()" class="btn btn-success mt-2">Cập nhật tư vấn</a>
                        <hr />
                        <ul class="timeline-widget mb-0 position-relative mb-n5" id="showlist_tuvan">
                        </ul>
                    </div>
                    <div class="tab-pane fade p-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <table class="table rounded-0">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td class="text-center">STT</td>
                                    <td>Mã đăng ký</td>
                                    <td>Khóa học</td>
                                    <td>Lớp học</td>
                                    <td class="text-center">Ngày bắt đầu</td>
                                    <td class="text-center">Ngày kết thúc</td>
                                    <td class="text-center">Số buổi</td>
                                    <td class="text-center">Ngày xét lớp</td>
                                    <td class="text-center">Tình trạng</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_lophoc"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade p-2" id="taikhoan" role="tabpanel" aria-labelledby="taikhoan-tab">
                        <div class="form-group">
                            <label class="text-success">
                                Số tiền nạp
                            </label>
                            <input type="text" name="Sotien" value="" class="form-control" id="Sotien" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="text-success">
                                Nội dung
                            </label>
                            <textarea name="Noidungnap" value="" class="form-control" id="Noidungnap" placeholder="Nội dung nạp"></textarea>
                        </div>
                        <a href="javascript:Submit_taikhoan()" class="btn btn-success mt-2">Nạp tài khoản</a>
                        <table class="table rounded-0 mt-3">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td class="text-center">STT</td>
                                    <td>Số tiền</td>
                                    <td>Nội dung</td>
                                    <td>Thời gian cập nhật</td>
                                    <td>Người thao tác</td>
                                    <td class="text-center">Loại</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_taikhoan"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="idStudent" value="@Model.Id" id="idStudent" />
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="padding-right: -100px;margin-right: 110px;">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xét vào lớp học</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Mã đăng ký</label>
                    <div class="col-lg-9">
                        <input type="hidden" class="form-control" name="IdRegistration" id="IdRegistration" />
                        <input class="form-control" name="RegistrationCode" id="RegistrationCode" disabled />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Khóa học</label>
                    <div class="col-lg-9">
                        <select id="IdCourse" class="form-control disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Lớp học</label>
                    <div class="col-lg-9">
                        @Html.DropDownList("IdClass", null, htmlAttributes: new { @class = "form-control", onchange = "loadSchedule()" })
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày bắt đầu</label>
                    <div class="col-lg-9">
                        <input type="text" name="ngaybatdau" value="" id="ngaybatdau" class="form-control" onchange="javascript: Onchange_todate()" />
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày kết thúc</label>
                    <div class="col-lg-9">
                        <input type="text" name="ngayketthuc" value="" id="ngayketthuc" class="form-control disabled" />
                    </div>
                </div><br />
                <b>Thời khóa biểu</b>
                <div class="form-group row mt-2">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Thứ</th>
                                <th class="text-center">Giờ Học</th>
                                <th class="text-center">Số Giờ</th>
                                <th class="text-center">Giáo viên</th>
                            </tr>
                        </thead>
                        <tbody id="datarow">
                        </tbody>
                    </table>
                </div>
                <b>Lịch học</b>
                <div class="form-group row mt-2">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Buổi</th>
                                <th class="text-center">Ngày</th>
                                <th class="text-center">Thứ</th>
                                <th class="text-center">Giờ Học</th>
                                <th class="text-center">Số Giờ</th>
                            </tr>
                        </thead>
                        <tbody id="timetable_datarow">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-start">
                <span class="loader"></span>
                <form action="/Students/ShowTimeTableData" method="get" target="_blank">
                    <input type="hidden" id="idClassShowTimeTbl" name="idClassShowTimeTbl" />
                    <input type="hidden" id="fromDateShowTimeTbl" name="fromDate" />
                    <input type="hidden" id="toDateShowTimeTbl" name="toDate" />
                    <input type="hidden" id="idCourseShowTimeTbl" name="idCourse" />
                    <input type="hidden" id="studentId" name="studentId" value="@Model.Id" />

                    <button type="submit" class="btn btn-info hideof" id="btnPrintTkb">
                        <i class="ti ti-calendar"></i> In thời khoá biểu
                    </button>
                </form>
                <button type="button" class="btn btn-success" onclick="Submit_xetlop()" id="btnSubmitXetlop">
                    <i class="ti ti-circle-plus"></i> Xét vào lớp học
                </button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="giahanModal" tabindex="-1" aria-labelledby="giahanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="padding-right: -100px;margin-right: 110px;">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title" id="giahanModalLabel">Gia hạn khóa học</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Mã đăng ký</label>
                    <div class="col-lg-9">
                        <input type="hidden" class="form-control" name="IdRegistration" id="IdRegistration_giahan" />
                        <input class="form-control disabled" name="RegistrationCode" id="RegistrationCode_giahan" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Khóa học</label>
                    <div class="col-lg-9">
                        <select id="IdCourse_giahan" class="form-control disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Lớp học</label>
                    <div class="col-lg-9">
                        <select id="IdClass_giahan" class="form-control disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày bắt đầu</label>
                    <div class="col-lg-9">
                        <input type="text" name="fromdate" value="" id="fromdate_giahan" class="form-control disabled" />
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày kết thúc</label>
                    <div class="col-lg-9">
                        <input type="text" name="todate" value="" id="todate_giahan" class="form-control disabled" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Gia hạn</label>
                    <div class="col-lg-9">
                        <input type="date" name="todate" value="" id="todate_giahannew" class="form-control" onchange="Check_max(this)"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-start">
                <span class="loader"></span>
                <button type="button" class="btn btn-success" onclick="Submit_giahan()" id="btnSubmitGiahan">
                    <i class="ti ti-circle-plus"></i> Gia hạn khóa học
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deactiveModal" tabindex="-1" aria-labelledby="deactiveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="padding-right: -100px;margin-right: 110px;">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title" id="deactiveModalLabel">Kích hoạt khóa học</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Mã đăng ký</label>
                    <div class="col-lg-9">
                        <input type="hidden" class="form-control" name="IdRegistration" id="IdRegistration_deactive" />
                        <input class="form-control disabled" name="RegistrationCode" id="RegistrationCode_deactive"  />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Khóa học</label>
                    <div class="col-lg-9">
                        <select id="IdCourse_deactive" class="form-control disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Lớp học</label>
                    <div class="col-lg-9">
                        <select id="IdClass_deactive" class="form-control" onchange="onchangeSchedule()">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày bắt đầu</label>
                    <div class="col-lg-9">
                        <input type="text" name="fromdate" value="" id="fromdate_deactive" class="form-control disabled"/>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày kết thúc</label>
                    <div class="col-lg-9">
                        <input type="text" name="todate" value="" id="todate_deactive" class="form-control disabled" />
                        <p class="fst-italic text-success mt-2" id="spanTimeStudied">***</p>
                    </div>
                </div>
                <b class="mt-3">Thời khóa biểu</b>
                <div class="form-group row mt-2">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Thứ</th>
                                <th class="text-start">Giờ Học</th>
                                <th class="text-center">Số Giờ</th>
                                <th class="text-start">Giáo viên</th>
                            </tr>
                        </thead>
                        <tbody id="datarow_deactive">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-start">
                <span class="loader"></span>
                <button type="button" class="btn btn-success" onclick="Submit_deactive()" id="btnSubmitKichhoatlai">
                    <i class="ti ti-circle-plus"></i> Kích hoạt lại khóa học
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exchangeCourseModal" tabindex="-1" aria-labelledby="exchangeCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="padding-right: -100px;margin-right: 110px;">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exchangeCourseModalLabel">Cập nhật khóa học</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Mã đăng ký</label>
                    <div class="col-lg-9">
                        <input type="hidden" class="form-control" name="IdRegistration" id="IdRegistration_exchange" />
                        <input class="form-control disabled" name="RegistrationCode" id="RegistrationCode_exchange" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Khóa học</label>
                    <div class="col-lg-9">
                        <select id="IdCourse_exchange" class="form-control disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Lớp học</label>
                    <div class="col-lg-9">
                        <select id="IdClass_exchange" class="form-control" onchange="onchangeSchedule()">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày bắt đầu</label>
                    <div class="col-lg-9">
                        <input type="text" name="fromdate" value="" id="fromdate_exchange" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Ngày kết thúc</label>
                    <div class="col-lg-9">
                        <input type="text" name="todate" value="" id="todate_exchange" class="form-control" />
                    </div>
                </div>
                <h6 class="mt-3"><i class="ti ti-calendar"></i> Thời khóa biểu</h6>
                <div class="form-group row mt-2">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Thứ</th>
                                <th class="text-start">Giờ Học</th>
                                <th class="text-center">Số Giờ</th>
                                <th class="text-start">Giáo viên</th>
                            </tr>
                        </thead>
                        <tbody id="datarow_exchange">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-start">
                <span class="loader"></span>
                <button type="button" class="btn btn-success" onclick="Submit_exchange()" id="btnSubmitCapnhat">
                    <i class="ti ti-circle-plus"></i> Cập nhật khóa học
                </button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var hopefulValues = "@Model.Hopeful".split(', '); // Chia nhỏ các giá trị đã lưu
        // Tick các checkbox tương ứng với giá trị đã lưu
        $.each(hopefulValues, function (index, value) {
            // Sử dụng hàm trên để giải mã
            $("input[name='mongmuon'][value='" + value + "']").prop('checked', true);
            console.log(value);
        });
    });
    var isProcessing = false;
    Loadlist_tuvan();
    function Loadlist_tuvan() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_tuvan", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $("#count_tuvan").html(data.count);
                $('#showlist_tuvan').html(data.str);
            },
            error: function (xhr, error) {
                console.log("lỗi"+error);
            }
        });
    }
    Loadlist_khoadangky();
    function Loadlist_khoadangky() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_khoadangky", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $('#showlist_dangky').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }

    Loadlist_lophoc();
    function Loadlist_lophoc() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_lophoc", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $('#showlist_lophoc').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }
    Loadlist_taikhoan();
    function Loadlist_taikhoan() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_taikhoan", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                $("#count_taikhoan").html(data.count);
                $('#showlist_taikhoan').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }
    function Submit_tuvan() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
         $.ajax({
             url: '@Url.Action("Submit_tuvan", "Students")',
             type: "POST",
             data: {
                 Noidung: $("#Noidung").val(),
                 Ngayhen: $("#Ngayhen").val(),
                 idStudent: $("#idStudent").val()
             },
             success: function (data) {
                 if (data.status = "ok") {
                     $("#Noidung").val("");
                     $("#Ngayhen").val("");
                     Loadlist_tuvan();
                     showSuccess("Đã cập nhật tư vấn thành công!", 3000);
                     isProcessing = false;
                     $(".loader").html("");
                 }
             },
             error: function (xhr, error) {
                 isProcessing = false;
                 $(".loader").html("");
                 console.log("lỗi"+error);
             }
         });
    }
    function Submit_taikhoan() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_taikhoan", "Students")',
            type: "POST",
            data: {
                Noidung: $("#Noidungnap").val(),
                Sotien: $("#Sotien").val(),
                idStudent: $("#idStudent").val()
            },
            success: function (data) {
                if (data.status = "ok") {
                    $("#Sotien").val("");
                    $("#Noidungnap").val("");
                    Loadlist_taikhoan();
                    showSuccess("Đã nạp tài khoản thành công!", 3000);
                    isProcessing = false;
                    $(".loader").html("");
                }
            },
            error: function (xhr, error) {
                isProcessing = false;
                $(".loader").html("");
                console.log("lỗi" + error);
            }
        });
    }
    function Submit_editStudent() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        var mongmuons = [];
        $.each($("input[name='mongmuon']:checked"), function () {
            mongmuons.push($(this).val());
        });
        $("#Hopeful").val(mongmuons.join(', '));
        var formData = new FormData(document.getElementById("form_editStudent"));
        $.ajax({
            url: '@Url.Action("Submit_editStudent", "Students")',
            type: "POST",
            data: formData,
            contentType: false,  // Không đặt `contentType` khi sử dụng FormData
            processData: false,  // Không xử lý dữ liệu thành chuỗi
            success: function (data) {
                if (data.status = "ok") {
                    showSuccess("Đã cập nhật thành công!", 3000);
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html("");
            },
            error: function (xhr, error) {
                isProcessing = false;
                $(".loader").html("");
                console.log("Lỗi: " + error);
            }
        });
    }

    function Loadlist_xetlop(idregistration, idcourse) {
        $.ajax({
            url: '@Url.Action("Load_xetlop", "Students")',
            type: "GET",
            data: {
                idCourse: idcourse,
                idRegistration: idregistration,
                idStudent: $("#idStudent").val(),
                fromdate: $("ngaybatdau").val()
            },
            success: function (data) {
                $('#IdRegistration').val(idregistration);
                $('#RegistrationCode').val(data.registrionCode);
                $('#IdCourse').html(data.str);
                if (data.statusStudent == false) {
                    $("#btnSubmitXetlop").addClass("hideof");
                    showError("Không thể xét lớp cho học viên này!", 5000);
                }
                loadSchedule();
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }

    $(function () {
        //$("#ngaybatdau").datepicker({ dateFormat: "dd/mm/yy" });
        $("#ngayketthuc").datepicker({ dateFormat: "dd/mm/yy" });
        $("#ngaybatdau").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
        $("#ngaybatdau").attr("readonly", "readonly");
        if ($("#ngaybatdau").val() == "") {
            $("#ngaybatdau").datepicker("setDate", new Date());
        }
    });

    function Submit_xetlop() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_xetlop", "Students")',
            type: "POST",
            data: {
                idCourse: $("#IdCourse").val(),
                idRegistration: $("#IdRegistration").val(),
                idClass: $("#IdClass").val(),
                fromdate: $("#ngaybatdau").val(),
                todate: $("#ngayketthuc").val(),
                idStudent: $("#idStudent").val()
            },
            success: function (data) {
                if (data.status = "ok") {
                    $('#exampleModal').modal('hide');
                    showSuccess("Đã xét lớp thành công!", 3000);
                    $("#btnPrintTkb").removeClass("hideof");
                } else {
                    showError("Lỗi cập nhật!", 3000);
                }
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            },
            error: function (xhr, error) {
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            }
        });
    }

    function Xetlop_modal(idregistration, idcourse) {
        Loadlist_xetlop(idregistration, idcourse);
        // Mở modal
        $('#exampleModal').modal('show');
    }
    //loadSchedule();
    function loadSchedule() {
        const idClass = $("#IdClass").val();
        const fromDate = $("#fromdate").val();
        const toDate = $("#todate").val();
        const idCourse = $("#IdCourse").val();

        $("#idClassShowTimeTbl").val(parseInt(idClass));
        $("#idCourseShowTimeTbl").val(parseInt(idCourse));
        $("#fromDateShowTimeTbl").val(fromDate);
        $("#toDateShowTimeTbl").val(toDate);

        $('#datarow').find('tr').remove();
        $('#timetable_datarow').find('tr').remove();

        $.ajax({
            url: '@Url.Action("GetSchedule", "Students")',
            type: "GET",
            data: {
                idClass: idClass,
                fromDate: fromDate,
                toDate: toDate,
                idCourse: idCourse
            },
            success: function (data) {
                if (data.status = "ok") {
                    let index = 1;
                    let stt = 1;
                    $.each(data.schedulesbyClass, function (key, value) {
                        $('#datarow').append('<tr><td class="text-center">' + index++ + '</td><td class="text-center">' + value.DayOfWeek + '</td><td>' + value.TimeSlot + '</td><td class="text-center">' + value.HourQuantity + '</td><td>' + value.TeacherName + '</td></tr>');
                    });

                    $.each(data.timeTableData, function (index, value) {
                        $('#timetable_datarow')
                            .append('<tr style="height:30px;"><td>Buổi ' + stt++ + '</td><td>' + value.Date + '</td><td>' + value.DayOfWeek + '</td><td>' + value.TimeSlot + '</td><td>' + value.HourQuantity + '</td></tr>');
                    });
                }
            },
            error: function (xhr, error) {

                console.log("error: " + error);
            }
        });
    }
    function Baoluu_modal(IdRegistration, IdCourse) {
        if (confirm('Bạn có muốn bảo lưu khóa học cho học viên này?')) {
            $.ajax({
                url: '@Url.Action("Submit_Reserve", "Students")',
                type: 'POST',
                data: {
                    IdRegistration: IdRegistration,
                    IdCourse: IdCourse
                },
                success: function (data) {
                    if (data.status == "ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message, 3000);
                    }
                },
                error: function () {
                    showError('Error deleting student', 3000);
                }
            });
            return false;
        }
    }
    function Giahan_modal(idregistration, idcourse) {
        $.ajax({
            url: '@Url.Action("Load_giahan", "Students")',
            type: "GET",
            data: {
                idCourse: idcourse,
                idRegistration: idregistration
            },
            success: function (data) {
                $('#IdRegistration_giahan').val(idregistration);
                $('#RegistrationCode_giahan').val(data.registrionCode);
                $('#IdCourse_giahan').html(data.strCourse);
                $('#IdClass_giahan').html(data.str);
                $('#fromdate_giahan').val(data.fromdate);
                $('#todate_giahan').val(data.todate);

                if (data.StatusStudent == false) {
                    $("#btnSubmitGiahan").addClass("hideof");
                    showError("Không thể gia hạn khóa học cho học viên này!", 5000);
                }
                $('#giahanModal').modal('show');
            },
            error: function (xhr, error) {

                console.log("lỗi" + error);
            }
        });
    }
    function Check_max(input) {
        // Lấy giá trị từ các trường ngày
        var todate_giahan = document.getElementById("todate_giahan").value;
        var todate_giahannew = input.value;

        // Chuyển đổi chuỗi ngày thành đối tượng Date
        var dateGiaHan = new Date(todate_giahan);
        var dateGiaHanNew = new Date(todate_giahannew);

        // Tính toán sự chênh lệch ngày
        var differenceInTime = dateGiaHanNew.getTime() - dateGiaHan.getTime();
        var differenceInDays = differenceInTime / (1000 * 3600 * 24);

        // Kiểm tra nếu chênh lệch vượt quá 14 ngày
        if (differenceInDays > 14) {
            showError("Ngày gia hạn mới không được vượt quá 14 ngày so với ngày kết thúc.",3000);
            // Đặt lại giá trị ngày về rỗng
            input.value = "";
        }
    }
    function Submit_giahan() {
        // Kiểm tra nếu người dùng chưa chọn ngày mới để gia hạn
        if ($("#todate_giahannew").val() === "") {
            showError("Vui lòng chọn thời gian để gia hạn khóa học này!", 3000);
            return false;  // Dừng hàm nếu chưa chọn ngày
        }
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_giahan", "Students")',
            type: 'POST',
            data: {
                IdRegistration: $("#IdRegistration_giahan").val(),
                IdCourse: $("#IdCourse_giahan").val(),
                Todate: $("#todate_giahannew").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    showSuccess(data.message, 3000);
                    Loadlist_khoadangky();
                    Loadlist_lophoc();
                    $('#giahanModal').modal('hide');
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html("");
            },
            error: function () {
                showError('Error extend student', 3000);
                isProcessing = false;
                $(".loader").html("");
            }
        });
        return false;
    }
    function Deactive_modal(idregistration, idcourse) {
        $.ajax({
            url: '@Url.Action("Load_deactive", "Students")',
            type: "GET",
            data: {
                idCourse: idcourse,
                idRegistration: idregistration
            },
            success: function (data) {
                $('#IdRegistration_deactive').val(idregistration);
                $('#RegistrationCode_deactive').val(data.registrionCode);
                $('#IdCourse_deactive').html(data.strCourse);
                $('#IdClass_deactive').html(data.str);
                $('#fromdate_deactive').val(data.fromdate);
                $('#todate_deactive').val(data.newTodate);
                $('#spanTimeStudied').html("** Thời gian đã học: " + data.daysStudied + " ngày.");
                if (data.StatusStudent == false) {
                    $("#btnSubmitGiahan").addClass("hideof");
                    showError("Đã quá thời hạn kích hoạt lại khóa học cho học viên này!", 5000);
                }
                onchangeSchedule();
                $('#deactiveModal').modal('show');
            },
            error: function (xhr, error) {
                console.log("lỗi" + error);
            }
        });
    }
    function Submit_deactive() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_deactive", "Students")',
            type: 'POST',
            data: {
                IdRegistration: $("#IdRegistration_deactive").val(),
                IdCourse: $("#IdCourse_deactive").val(),
                IdClass: $("#IdClass_deactive").val(),
                Todate: $("#todate_deactive").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    showSuccess(data.message, 3000);
                    Loadlist_khoadangky();
                    Loadlist_lophoc();
                    $('#deactiveModal').modal('hide');
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html("");
            },
            error: function () {
                showError('Error extend student', 3000);
                isProcessing = false;
                $(".loader").html("");
            }
        });
        return false;
    }
    function onchangeSchedule() {
        $("#datarow_deactive").html("");
        $.ajax({
            url: '@Url.Action("Onchange_schedule", "Students")',
            type: "GET",
            data: {
                idClass: $("#IdClass_deactive").val()
            },
            success: function (data) {
                if (data.status = "ok") {
                    let index = 1;
                    $.each(data.schedulesbyClass, function (key, value) {
                        $('#datarow_deactive').append('<tr><td class="text-center">' + index++ + '</td><td class="text-center">' + value.DayOfWeek + '</td><td>' + value.TimeSlot + '</td><td class="text-center">' + value.HourQuantity + '</td><td>' + value.TeacherName + '</td></tr>');
                    });
                }
            },
            error: function (xhr, error) {
                console.log("error: " + error);
            }
        });
    }
    function Capnhat_modal(idregistration, idcourse) {
        $.ajax({
            url: '@Url.Action("Load_exchange", "Students")',
            type: "GET",
            data: {
                idCourse: idcourse,
                idRegistration: idregistration
            },
            success: function (data) {
                $('#IdRegistration_exchange').val(idregistration);
                $('#RegistrationCode_exchange').val(data.registrionCode);
                $('#IdCourse_exchange').html(data.strCourse);
                $('#IdClass_exchange').html(data.str);
                $('#fromdate_exchange').val(data.fromdate);
                $('#todate_exchange').val(data.todate);
                $('#exchangeCourseModal').modal('show');
            },
            error: function (xhr, error) {
                console.log("lỗi" + error);
            }
        });
    }
    function Submit_exchange() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_exchange", "Students")',
            type: 'POST',
            data: {
                IdRegistration: $("#IdRegistration_exchange").val(),
                IdCourse: $("#IdCourse_exchange").val(),
                IdClass: $("#IdClass_exchange").val(),
                Todate: $("#todate_exchange").val(),
                Fromdate: $("#fromdate_exchange").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    showSuccess(data.message, 3000);
                    Loadlist_khoadangky();
                    Loadlist_lophoc();
                    $('#exchangeCourseModal').modal('hide');
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html("");
            },
            error: function () {
                showError('Error extend student', 3000);
                isProcessing = false;
                $(".loader").html("");
            }
        });
        return false;
    }
    function myFunction() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
