@model SuperbrainManagement.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    
</div><div class="row">
    <div class="col-lg-3">
        <div class="profile-card-4 z-depth-3">
            <div class="card">
                <div class="card-body text-center bg-light rounded-top">
                    <div class="user-box">
                        <img src="@(Model.Image==""?Model.Image:"/Assets/images/profile/user-1.jpg")" height="100" alt="user avatar" class="rounded-circle">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group shadow-none">
                        <li class="list-group-item">
                            <div class="list-icon">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="list-details">
                                <span>@Model.Code.ToUpper()</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="list-details">
                                <span>@Model.Username</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="list-details">
                                <span>@Model.Password</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card z-depth-3">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin học viên</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tuvan-tab" data-bs-toggle="tab" data-bs-target="#tuvan" type="button" role="tab" aria-controls="tuvan" aria-selected="true">Lịch sử Tư vấn</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Khóa học đã đăng ký</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Lịch sử học</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Full name</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" value="mark@example.com">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="file">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Website</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="url" value="">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="" placeholder="Street">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" value="" placeholder="City">
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" type="text" value="" placeholder="State">
                                </div>
                            </div>

                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="jhonsanmark">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="11111122333">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="11111122333">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="button" class="btn btn-primary" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade p-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table rounded-0">
                            <thead class="bg-success">
                                <tr class="text-white">
                                    <td>STT</td>
                                    <td>Mã đăng ký</td>
                                    <td>Khóa học</td>
                                    <td>Thành tiền</td>
                                    <td>Ngày đăng ký</td>
                                    <td class="text-center">Thanh toán</td>
                                    <td class="text-center">Tình trạng</td>
                                    <td>Thao tác</td>
                                </tr>
                            </thead>
                            <tbody id="showlist_dangky"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tuvan" role="tabpanel" aria-labelledby="tuvan-tab">... tư vấn</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="idStudent" value="@Model.Id" id="idStudent" />
<div class="">
    
</div>
<script>
    Loadlist_khoadangky();
    function Loadlist_khoadangky() {
        var idStudent = $("#idStudent").val();
        $.ajax({
            url: '@Url.Action("Load_profile", "Students")',
            type: "GET",
            data: { idStudent: idStudent },
            success: function (data) {
                console.log("data của " + idStudent+" là:" + data.str);
                $('#showlist_dangky').html(data.str);
            },
            error: function (xhr, error) {

                console.log("lỗi"+error);
            }
        });
    }
</script>
