@model PagedList.IPagedList<SuperbrainManagement.DTOs.StudentViewDTO>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Học viên";
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

<div class="row">
    <div class="col col-md-4 col-sm-12">
        <form action="/students" method="get">
            <div class="input-group mb-3">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", onchange = "this.form.submit();" })
                }
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-filter"></i> @{
                    if (Convert.ToString(ViewBag.SelectedFilter) == "Potential")
                    {
                        <span> Tiềm năng</span>
                    }
                    else
                    {
                        <span> Chính thức</span>
                    }
                }
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { IdBranch=ViewBag.CurrentBranch,filterEnum = "Official", currentFilter = ViewBag.CurrentFilter })"> Chính thức</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { IdBranch=ViewBag.CurrentBranch, filterEnum = "Potential", currentFilter = ViewBag.CurrentFilter })"> Tiềm năng</a></li>
            </ul>
        </div>
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { IdBranch=ViewBag.CurrentBranch, filterEnum = ViewBag.SelectedFilter, sortOrder = "name", currentFilter = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { IdBranch=ViewBag.CurrentBranch, filterEnum = ViewBag.SelectedFilter, sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { IdBranch=ViewBag.CurrentBranch, filterEnum = ViewBag.SelectedFilter, sortOrder = "date", currentFilter = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Mới nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { IdBranch=ViewBag.CurrentBranch, filterEnum = ViewBag.SelectedFilter, sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Cũ nhất</a></li>
            </ul>
        </div>
        <a href="/students/create" class="btn btn-md btn-success ms-0"><i class="ti ti-circle-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>MÃ HỌC VIÊN</th>
            <th>HỌ TÊN</th>
            <th class="text-center">SINH NHẬT</th>
            <th class="text-center">TRẠNG THÁI</th>
            <th>QUẢN LÝ</th>
            <th class="text-end">THAO TÁC</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center fw-bold">
                @stt
            </td>
            <td class="fw-bold">
                <a href="/students/details/@item.Id" class="text-muted me-1">@Html.DisplayFor(modelItem => item.Code)</a>
                
            </td>
            <td class="fw-bold">
                <a href="/students/details/@item.Id" class="text-muted me-1">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td class="text-center">
                @(item.DateOfBirth==null?"":item.DateOfBirth.Value.ToString("dd/MM/yyyy"))
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfUser)
            </td>
            <td class="text-end">
                <a href="/students/details/@item.Id" class="me-1"><i class="ti ti-edit text-primary"></i></a>
                <a href="javascript:Delete_Student(@item.Id)" class="me-1"><i class="ti ti-trash text-danger"></i></a>
                <a class="text-warning" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="@Url.Action("AddCourseProgramOfStudents","Students",new {IdStudent = item.Id})"><i class="ti ti-script-plus"></i> Đăng ký khóa học</a></li>
                    <li><a class="dropdown-item" href="javascript:Exchange_branch(@item.Id)"><i class="ti ti-exchange"></i> Chuyển cơ sở</a></li>
                </ul>
            </td>
        </tr>
        stt += 1;
    }
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>
<script>
    function Delete_Student(Id) {
        if (confirm('Bạn có muốn xóa học viên này?')) {
            $.ajax({
                url: '@Url.Action("Delete_Students", "Students")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting student',3000);
                }
            });
            return false;
        }
    }
</script>