@model PagedList.IPagedList<SuperbrainManagement.DTOs.StudentViewDTO>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Học viên";
    ViewBag.Title = "Danh sách học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}
<div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
    <div>
        <form action="/students" method="get">
            <div class="input-group">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", onchange = "Loadlist()" })
                }
                <input type="text" class="form-control ms-1 rounded-1" id="searchString" name="searchString" placeholder="Tìm kiếm" value="" onblur="Loadlist()">
            </div>
        </form>
    </div>
    <div>
        <select class="btn btn-md btn-outline-muted text-start" id="Status" onchange="Loadlist()">
            <option value="True">Chính thức</option>
            <option value="False">Tiềm năng</option>
        </select>
        <select class="btn btn-md btn-outline-muted text-start" id="sortOrder" onchange="Loadlist()">
            <option value="date_desc">Mới nhất</option>
            <option value="date">Cũ nhất</option>
            <option value="name">Tên A-Z</option>
            <option value="name_desc">Tên Z-A</option>
        </select>
        <a href="/students/create" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table table-striped mt-2">
    <thead class="border-2 border-bottom border-muted">
        <tr>
            <th class="text-center fw-bolder">STT</th>
            <th class="text-center fw-bolder">Mã học viên</th>
            <th class="text-start fw-bolder">Họ tên</th>
            <th class="text-center fw-bolder">Ngày sinh</th>
            <th class="text-center fw-bolder">Số điện thoại</th>
            <th class="text-start fw-bolder">Quản lý</th>
            <th class="text-center fw-bolder">Trạng thái</th>
            <th class="text-end fw-bolder">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exchangeBranchModal" tabindex="-1" aria-labelledby="exchangeBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exchangeBranchModalLabel">Chuyển cơ sở</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Chuyển sang: </label>
                    <div class="col-lg-9">
                        <input type="hidden" class="form-control" name="IdStudent" id="IdStudent_exchangeBranch" />
                        <select id="IdBranch_exchangeBranch" class="form-control" onchange="Onchange_exchangeBranch()"></select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Người quản lý</label>
                    <div class="col-lg-9">
                        <select id="IdUser_exchangeBranch" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-start">
                <span class="loader"></span>
                <button type="button" class="btn btn-success" onclick="Submit_chuyencoso()" id="btnSubmitChuyencoso">
                    <i class="ti ti-arrows-exchange"></i> Chuyển cơ sở
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    Loadlist();
    function Loadlist() {
        $("#loading").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
         $.ajax({
             url: '@Url.Action("Loadlist", "Students")',
             type: "GET",
             data: {
                 idBranch : $("#IdBranch").val(),
                 sortOrder: $("#sortOrder").val(),
                 status: $("#Status").val(),
                 searchString: $("#searchString").val()
             },
             success: function (data) {
                 console.log(data);
                $("#loading").html("");
                 $('#showlist').html(data.str);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }
    function Submit_Delete(Id) {
        if (confirm('Bạn có muốn xóa học viên này?')) {
            $.ajax({
                url: '@Url.Action("Submit_Delete", "Students")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting student',3000);
                }
            });
            return false;
        }
    }
    isProcessing = false;
    function Submit_chuyencoso(Id) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        if (confirm('Bạn có muốn chuyển cơ sở cho học viên này?')) {
            $.ajax({
                url: '@Url.Action("Submit_exchangeBranch", "Students")',
                type: 'POST',
                data: {
                    IdStudent: $("#IdStudent_exchangeBranch").val(),
                    IdBranch: $("#IdBranch_exchangeBranch").val(),
                    IdUser: $("#IdUser_exchangeBranch").val()
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                    $(".loader").html("");
                    isProcessing = false;
                },
                error: function () {
                    $(".loader").html("");
                    isProcessing = false;
                    showError('Error deleting student',3000);
                }
            });
            return false;
        }
    }
    function exchangeBranch(IdStudent) {
        $('#IdStudent_exchangeBranch').val(IdStudent);
        $.ajax({
            url: '@Url.Action("Load_exchangeBranch", "Students")',
            type: "GET",
            data: {
                IdStudent: IdStudent
            },
            success: function (data) {
                $('#IdBranch_exchangeBranch').html(data.str);
                Onchange_exchangeBranch();
                $('#exchangeBranchModal').modal('show');
            },
            error: function (xhr, error) {
                console.log("lỗi" + error);
            }
        });
    }
    function Onchange_exchangeBranch() {
        $.ajax({
            url: '@Url.Action("Onchange_exchangeBranch", "Students")',
            type: "GET",
            data: {
                IdBranch: $("#IdBranch_exchangeBranch").val()
            },
            success: function (data) {
                $('#IdUser_exchangeBranch').html(data.strUser);
            },
            error: function (xhr, error) {
                console.log("lỗi" + error);
            }
        });
    }
</script>