
@{
    ViewBag.Title = "Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead class="bg-success">
        <tr>
            <th colspan="2">
                <div class="dropdown show" style="display: flex;justify-content: space-between;align-items: center;">
                    <div class="text-white">Phiếu đăng ký khóa học</div>
                    <a class="btn btn-sm btn-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-dots text-success"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/students/registrationprints">In phiếu đăng ký tổng</a>
                        <a class="dropdown-item" href="#">In phiếu đăng ký chi tiết</a>
                        <a class="dropdown-item" href="#">Thu tiền</a>
                        <a class="dropdown-item" href="#">Xét vào lớp</a>
                        <a class="dropdown-item" href="#">Xóa phiếu đăng ký</a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>
<div class="row p-2">
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <label>Mã hóa đơn</label>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Name must be a string with a maximum length of 50." data-val-length-max="50" id="Bill" name="Name" type="text" value="" disabled>
        <input type="hidden" id="idRegistration" value="@ViewBag.IdRegistration" name="idRegistration" />
        <input type="hidden" id="idStudent" value="@ViewBag.IdStudent" name="idStudent" />
    </div>
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <label>Ngày tạo</label>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Username must be a string with a maximum length of 50." data-val-length-max="50" id="Datecreate" name="Username" type="text" value="" disabled>
    </div>
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <label>Họ tên học viên</label>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Name must be a string with a maximum length of 50." data-val-length-max="50" id="Name" name="Name" type="text" value="" disabled>
    </div>
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <label>Mã học viên</label>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Username must be a string with a maximum length of 50." data-val-length-max="50" id="Username" name="Username" type="text" value="" disabled>
    </div>
    <div class="col col-12 col-md-12 col-sm-12 mb-2">
        <label>Ghi chú</label>
        <input class="form-control text-box single-line" id="description" placeholder="Ghi chú dành cho phiếu đăng ký" name="description" type="text" value="">
    </div>
</div>
<table class="table table-rounded table-bordered" style="">
    <tr class="bg-primary text-white">
        <th class="text-center">STT</th>
        <th class="text-center">Tên khoản thu</th>
        <th class="text-center">Đơn giá</th>
        <th class="text-center">Số lượng</th>
        <th class="text-center">Chiết khấu</th>
        <th class="text-center">Thành tiền</th>
        <th class="text-center">Thao tác</th>
    </tr>
    <tbody id="dataBody">
    </tbody>
    <tr>
        <td colspan="5"></td>
        <td style="text-align:right;">
            Tổng tiền:
        </td>
        <td style="text-align:right;">
            <b class="total">0</b>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td style="text-align:right;">
            Chiết khấu:
        </td>
        <td style="text-align:right;">
            <b>0</b>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td style="text-align:right;">
            Tổng
            thanh toán:
        </td>
        <td style="text-align:right;">
            <b class="total" id="totalamount">0</b>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td style="text-align:right;">
            Đã thanh
            toán:
        </td>
        <td style="text-align:right;">
            <b>0</b>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td style="text-align:right;">
            Còn
            lại:
        </td>
        <td style="text-align:right;">
            <b class="total">0</b>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" onclick="getDataCombobox(0,0,1)" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="ti ti-certificate"></i> Thêm khóa học
</button>
<button type="button" class="btn btn-success" onclick="getDataComboboxProduct(0)" data-bs-toggle="modal" data-bs-target="#exampleModalProduct">
    <i class="ti ti-shopping-cart"></i> Thêm vật tư
</button>
<button type="button" class="btn btn-success" onclick="getDataComboboxOther(0)" data-bs-toggle="modal" data-bs-target="#exampleModalRevenueReferences">
    <i class="ti ti-checklist"></i> Thu khác
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-right: -100px;margin-right: 110px;height: 100vh;">
        <div class="modal-content rounded-0 h-75" style="width: 600px;">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Đăng ký khóa học</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Chương trình</label>
                    <div class="col-lg-9">
                        <select class="form-control IdEmployee" name="phonghoc0" id="programSelect" onchange="getDataCombobox(this.value,0,1)">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Khóa học</label>
                    <div class="col-lg-9">
                        <select class="form-control IdEmployee" name="phonghoc1" id="courseSelect" onchange="getDataCombobox(0, this.value,2)">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Học phí</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="" id="priceCourse" readonly>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Chương trình KM</label>
                    <div class="col-lg-9">
                        <select class="form-control IdEmployee" name="phonghoc0" id="promotionSelect">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Chiết khấu</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="0" id="discountCourse">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Thành tiền</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="" id="totalamountCourse" readonly>
                    </div>
                </div>
                <div class="hideof">
                    <table class="table table-bordered">
                        <tr class="table-primary">
                            <th>CHỌN</th>
                            <th>TÊN</th>
                            <th>ĐƠN GIÁ</th>
                            <th>THÀNH TIỀN</th>
                        </tr>
                        <tbody id="tableProduct">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-start">
                <button type="button" class="btn btn-success" onclick="SaveRegistration(2)">
                    <i class="ti ti-circle-plus"></i> Thêm vào phiếu
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-right: -100px;margin-right: 110px;height: 100%;">
        <div class="modal-content rounded-0 h-75" style="width: 600px;">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Đăng ký vật tư</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Vật tư</label>
                    <div class="col-lg-9">
                        <select class="form-control IdEmployee" name="phonghoc0" id="productSelect" onchange="getDataComboboxProduct(this.value)">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Đơn giá</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="0" id="priceProduct">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Số lượng</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="1" id="numberProduct" readonly>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Chiết khấu</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="0" id="discountProduct" readonly>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Thành tiền</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="" id="totalamountProduct" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveRegistration(1)">
                    <i class="ti ti-circle-plus"></i> Thêm vào phiếu
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalRevenueReferences" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-right: -100px;margin-right: 110px;height: 100%;">
        <div class="modal-content rounded-0 h-75" style="width: 600px;">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Đăng ký thu khác</h5>
            </div>
            <div class="modal-body">

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Tên khoản thu</label>
                    <div class="col-lg-9">
                        <select class="form-control IdEmployee" name="phonghoc0" id="OtherSelect" onchange="getDataComboboxOther(this.value)">
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Đơn giá</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="0" id="priceOther">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Số lượng</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="1" id="numerOther" readonly>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Chiết khấu</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="0" id="discountOther" readonly>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label">Thành tiền</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="" id="totalamountOther" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveRegistration(3)">
                    <i class="ti ti-circle-plus"></i> Thêm vào phiếu
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function prints() {
       var totalamount = $('#totalamount').val();
        var code = $('#Bill').val();
            $.ajax({
                url: '@Url.Action("RegistrationPrints","Students")',
                type: 'POST',
                data: {
                  IdStudent: idstudent,
                  totalamount: totalamount
                },
                success: function () {

                },
                error: function (xhr, error) {

                }
            });
        }
        function updateCheckboxValue(checkbox) {
            // Kiểm tra xem checkbox có được chọn hay không
            var value = checkbox.checked ? 1 : 0;
            // Gán giá trị cho checkbox
            checkbox.value = value;
            // In giá trị của checkbox ra console để kiểm tra
            console.log("Checkbox value updated to: " + value);
        }

        function deleteitem(courseId, registrationId) {
            var $row = $(this).closest('tr'); // Tìm hàng chứa nút xóa đã được click
            $.ajax({
                url: '@Url.Action("Deletes", "Students")', // Thay thế bằng URL xóa của bạn
                type: 'POST',
                data: {
                    IdCourse: courseId,
                    IdRegistration: registrationId
                },
                success: function (data) {
                    loaddata(data);
                    // Xóa hàng từ bảng sau khi xóa thành công
                    $row.remove();
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting cart item:', error);
                }
            });
        }
        function formatVND(number) {
            // Convert number to string
            var strNumber = number.toString();
            // Split the number into integer and decimal parts
            var parts = strNumber.split(".");
            // Format the integer part with dots
            var formattedInteger = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            // Add the currency symbol and decimal part if exists
            var result = formattedInteger + "";
            if (parts.length > 1) {
                result += "." + parts[1];
            }

            return result;
        }
        function getDataComboboxOther(IdOther) {
             $.ajax({
                url: '@Url.Action("getDataComboxOther", "Students")',
                type: 'GET',
                data: {
                    IdOther: IdOther
            },
                    success: function (data) {
                        if (data.str.length !== 0) {
                            $('#OtherSelect').html(data.str);
                            $('#totalamountOther').val(data.totalamount);
                            $('#priceOther').val(data.totalamount);
                        }else {
                            $('#totalamountOther').val(data.totalamount);
                            $('#priceOther').val(data.totalamount);
                        }
                },
                error: function(xhr,error){

                }
                });
        }
        function getDataComboboxProduct(idproduct) {
          $.ajax({
           url: '@Url.Action("getDataComboxProduct","Students")',
           type: 'GET',
           data: {
           idproduct: idproduct
        },
              success: function (data) {
                  if (data.str.length !== 0) {
                      $('#productSelect').html(data.str);
                      $('#totalamountProduct').val(data.totalamount);
                      $('#priceProduct').val(data.totalamount);
                      $('#number').val(data.number);
                  }else {
                        $('#totalamountProduct').val(data.totalamount);
                      $('#priceProduct').val(data.totalamount);
                      $('#number').val(data.number);
                  }
           },
           error: function(xhr,error){

            }
           });
        }
        function getDataCombobox(IdProgram, IdCourse,type) {
          $.ajax({
              url: '@Url.Action("GetDataCombobox", "Students")',
              type: "GET",
              data: { IdProgram: IdProgram, IdCourse: IdCourse,type },
              success: function (data) {
                  console.log(data);
                  $('#tableProduct').html(data.strTable);
                  if (data.strpro.length === 0 && data.type === 1) {

                      $("#courseSelect").html(data.strcour);


                  } else if (data.strpro.length !== 0 && data.type === 1) {
                      $('#promotionSelect').html(data.strpromotion);
                      $('#programSelect').html(data.strpro);
                      $('#courseSelect').html(data.strcour);
                  } else if (data.type === 2) {
                      $('#priceCourse').val(data.priceCourse);
                      $('#totalamountCourse').val(formatVND(data.priceCourse));
                  }
                  $('#priceCourse').val(data.priceCourse);
                  $('#totalamountCourse').val(formatVND(data.priceCourse));
              },
              error: function (xhr, error) {
                  console.log(error);
              }

          });
        }
        Load_danhsach();
        function Load_danhsach() {
            var randomParam = new Date().getTime(); // Tạo một tham số ngẫu nhiên
            $.ajax({
                url: '@Url.Action("getData", "Students")',
                type: 'GET',
                data: {
                    IdRegistration: $("#idRegistration").val(),
                    randomParam: randomParam
                },
                success: function (data) {
                    console.log(data);
                    var i = 0, total = 0;
                    console.log(data)
                    $('#dataBody').empty();
                    $('#dataBody').html(data.datalist);
                    //document.getElementById("IdRegistration").value = data.idRegistrations;
                    document.getElementById("Bill").value = data.Code;
                    document.getElementById("Datecreate").value = data.DateCreate;
                    $(".total").text(formatVND(data.TotalAmount));
                },
                error: function (xhr, status, error) {
                    console.error('Error saving cart item:', error);
                }
            })
        }

        function SaveRegistration(type) {
            // Get values from form inputs
            var IdObject = 0;
            var price = 0;
            var totalamount = 0;
            var amount = 0;
            var discount = 0;
            var isChecked = [];
            var promotionId = $('#promotionSelect').val();
            var IdRegistration = document.getElementById("idRegistration").value;
            var description = $('#description').val();
            $(".listproduct").each(function () {
                // Within each iteration, 'this' refers to the current DOM element
                // Wrap 'this' with jQuery to access jQuery methods
                // Làm bất cứ điều gì bạn muốn với trạng thái kiểm tra isChecked ở đây
                var item = {
                         isChecked: $(this).find('.idproduct').val(),
                         idpro: $(this).find('.idpro').val(),
                    };
                    isChecked.push(item);
                 // Check if the checkbox is checked
            });
            console.log("Checkbox value:", isChecked);

            if (type === 1) {
                price = $('#priceProduct').val(); // Assuming the price input has an id of "textInput
                IdObject = $('#productSelect').val();
                discount = $('#discountProduct').val();

                totalamount = $('#priceProduct').val();
                amount = $('#priceProduct').val();
            } else if (type === 2) {
                price = $('#priceCourse').val(); // Assuming the price input has an id of "textInput
                IdObject = $('#courseSelect').val();
                discount = $('#discountCourse').val();

                totalamount = $('#priceCourse').val();
                amount = $('#priceCourse').val();
            } else if (type === 3) {
                price = $('#priceOther').val(); // Assuming the price input has an id of "textInput
                IdObject = $('#OtherSelect').val();
                discount = $('#discountOther').val();

                totalamount = $('#priceOther').val();
                amount = $('#priceOther').val();
            }

            // Make AJAX request with collected data
            $.ajax({
                url: '@Url.Action("SaveRegistration", "Students")',
                type: 'POST',
                data: JSON.stringify({
                    IdRegistration: IdRegistration,
                    type: type,
                    IdObject: IdObject,
                    price: price,
                    totalamount: totalamount,
                    amount: amount,
                    Description: description,
                    Discount: discount,
                    listProduct: isChecked // Moved listProduct inside data object
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    Load_danhsach(data);
                },
                error: function (xhr, status, error) {
                     showError("san pham da ton tai", 3000);
                    console.error('Error saving cart item:', error);
                }
            });
        }
    </script>
}