@{
    ViewBag.Title = "ShowTimeTableData";
    int stt = 1;
    Layout = "";
}
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex d-block align-items-center justify-content-between align-content-center mt-3 me-5">
            <div>
               
            </div>
            <div>

            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <h1 class="text-center">THỜI KHOÁ BIỂU</h1>
    <p>Tên học viên: @ViewBag.StudentName</p>
    <p>Khoá: Pre Basic</p>
    <p>Lớp: @ViewBag.ClassName</p>
    <table class="table">
        <thead>
            <tr>
                <th>Buổi</th>
                <th>Ngày</th>
                <th>Thứ</th>
                <th>Giờ Học</th>
            </tr>
        </thead>
        <tbody id="datarow">
            @foreach (var item in ViewBag.timeTableData)
            {
                <tr>
                    <td>@stt</td>
                    <td>@item.Date</td>
                    <td>@item.DayOfWeek</td>
                    <td>@item.TimeSlot</td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
    <p>Ghi chú:</p>
</div>
<style>
    .text-center{
        text-align:center;
    }
    .container{
        width:85%;
        margin:0 auto;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table thead th {
        background-color: #f2f2f2;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>


