@model PagedList.IPagedList<SuperbrainManagement.Models.VacationSchedule>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Cài đặt";
    ViewBag.Title = "Lịch nghỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

<div class="row">
    <div class="col col-md-4 col-sm-12">
        <form action="/vacationschedules" method="get" id="formload">
            <div class="input-group mb-3">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2" })
                }
                <input type="text" class="form-control ms-1 rounded-1" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="javascript:Add_vacation()" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mô tả</th>
            <th class="text-center">Ngày bắt đầu</th>
            <th class="text-center">Ngày kết thúc</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @stt
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-center">
                @item.Fromdate.Value.ToString("dd/MM/yyyy")
            </td>
            <td class="text-center">
                @item.Todate.Value.ToString("dd/MM/yyyy")
            </td>
            <td class="text-end">
                <a href="javascript:Edit_vacation(@item.Id)" class="me-1"><i class="ti ti-edit text-primary"></i></a>
                <a href="javascript:Delete_vacation(@item.Id)" class="me-1"><i class="ti ti-trash text-danger"></i></a>
                <a class="text-warning" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href=""><i class="ti ti-settings"></i> Thiết lập cơ sở</a></li>
                </ul>
            </td>
        </tr>
        stt += 1;
    }
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modaladdVacationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <form action="/" method="post" id="form_nhap">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="modaladdVacationLabel">Thêm lịch nghỉ</h5>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12 mt-2">
                            <label>Mô tả</label>
                            <input type="hidden" name="action" value="" class="form-control" id="action" placeholder="Mã chương trình" />
                            <input type="hidden" name="IdVacation" value="" class="form-control" id="IdVacation" placeholder="Mã chương trình" />
                            <input type="text" name="NameVacation" value="" class="form-control" id="NameVacation" placeholder="Mô tả" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Ngày bắt đầu</label>
                            <input type="text" name="FromdateVacation" value="" class="form-control" id="FromdateVacation" placeholder="" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Ngày kết thúc</label>
                            <input type="text" name="TodateVacation" value="" class="form-control" id="TodateVacation" placeholder="" />
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="button" class="btn btn-success" onclick="Submit_savechange()" id="btnActionVacation">
                            <i class="ti ti-circle-plus"></i> Thêm mới
                        </button>
                        <span class="loader"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var isProcessing = false;
    $(function () {
        $("#FromdateVacation").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
        $("#TodateVacation").datepicker({ dateFormat: "dd/mm/yy", minDate: 1 });
    });

    function Add_vacation() {
        $('#modaladdVacationLabel').html("Thêm lịch nghỉ");
        $('#action').val("create");
        $('#btnActionVacation').html("Thêm mới");
        $('#exampleModal').modal('show');
    }
    function Edit_vacation(id) {
        $('#modaladdVacationLabel').html("Chỉnh sửa lịch nghỉ");
        $('#action').val("edit");
        $('#btnActionVacation').html("Cập nhật");
        $.ajax({
            url: '@Url.Action("Loadedit_vacation", "VacationSchedules")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#IdVacation').val(id);
                $('#NameVacation').val(data.name);
                $('#FromdateVacation').val(data.fromDate);
                $('#TodateVacation').val(data.toDate);

                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Submit_savechange() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        var fromDate = $("#FromdateVacation").val().split("/").reverse().join("-");
        var toDate = $("#TodateVacation").val().split("/").reverse().join("-");

        $.ajax({
            url: '@Url.Action("Submit_savechanges", "VacationSchedules")',
            type: "POST",
            data: {
                Id: $("#IdVacation").val(),
                action: $("#action").val(),
                Name: $("#NameVacation").val(),
                Fromdate: fromDate,
                Todate: toDate
            },
            success: function (data) {
                if (data.status == "ok") {
                    $('#exampleModal').modal('hide');
                    location.reload();
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html(""); 
            },
            error: function (xhr, error) {
                isProcessing = false;
                $(".loader").html("");
            }
        });
    }

    function Delete_vacation(id) {
        if (confirm('Bạn có muốn xóa khóa học của cơ sở này?')) {
            $.ajax({
                url: "/VacationSchedules/Delete_vacation",
                type: "POST",
                data: {
                    id: id
                }
                , dataType: "json",
                success: function (data) {
                    if (data.status = "ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    }
                    else {
                        showError(data.status, 3000);
                    }
                },
                error: function () { showError('Lỗi xóa lịch nghỉ!', 3000); }
            });
        }
    }
</script>