@model PagedList.IPagedList<SuperbrainManagement.Models.MKTCampaign>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Cài đặt";
    ViewBag.Title = "Chương trình MKT";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}
<div class="row">
    <div class="col col-md-3 col-sm-12">
        <form action="/" method="get" id="formload">
            <div class="input-group">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
                }
            </div>
        </form>
    </div>
    <div class="col col-md-9 col-sm-12 text-right" style="text-align:right;">
        <a href="javascript:Add_MKT()" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table fs-3 mt-2">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mã</th>
            <th>Tên</th>
            <th class="text-center">Số lượng đăng ký</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr class="loader"></tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabel">Thêm lớp học </h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="">Mã chương trình</label>
                            <input type="text" class="form-control" id="Code" name="Code" value="" placeholder="Mã chương trình" />
                        </div>
                        <div class="col-md-12">
                            <label class=" mt-3">Tên chương trình</label>
                            <input type="text" class="form-control" id="Name" name="Name" value="" placeholder="Tên chương trình" />
                        </div>
                        <div class="col-md-6">
                            <label class="mt-3">Trạng thái</label>
                            <select class="form-control" id="Status">
                                <option value="true">Hoạt động</option>
                                <option value="false">Ngừng hoạt động</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="mt-3">Chế độ</label>
                            <select class="form-control" id="IsPublic">
                                <option value="true">Công khai</option>
                                <option value="false">Riêng tư</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="action" value="" id="action" />
                    <input type="hidden" name="Id" value="" id="Id" />
                </div>
                <div class="modal-footer">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger text-center" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <a href="javascript:Submit_savechange()" class="btn btn-sm btn-success" id="btnaction"><i class="ti ti-refresh"></i> Lưu cập nhật</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    Loadlist();
    var isProcessing = false;
    function Loadlist() {
        $(".loader").html("<td colspan=6 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        $.ajax({
            url: '@Url.Action("Loadlist", "MarketingCampaigns")',
            type: "GET",
            data: {
                IdBranch: $("#IdBranch").val()
            },
            success: function (data) {
                $('#showlist').html(data.str);
                $(".loader").html("");
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Add_MKT() {
        $('#exampleModalLabel').html("Thêm chương trình MKT");
        $('#action').val("create");
        $('#btnaction').html("+ Thêm mới");
        $('#exampleModal').modal('show');
    }
    function Edit(id) {
        $('#exampleModalLabel').html("Cập nhật chương trình MKT");
        $.ajax({
            url: '@Url.Action("LoadInfoMKT", "MarketingCampaigns")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#Id').val(id);
                $('#Code').val(data.Code);
                $('#Name').val(data.Name);
                $('#Status').val(data.Status);
                $('#IsPublic').val(data.IsPublic);
                $('#action').val("edit");
                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Submit_savechange() {
        $.ajax({
            url: '@Url.Action("Submit_savechange", "MarketingCampaigns")',
            type: "POST",
            data: {
                action: $("#action").val(),
                Id: $("#Id").val(),
                Code: $("#Code").val(),
                Name: $("#Name").val(),
                Status: $("#Status").val(),
                IsPublic: $("#IsPublic").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    Loadlist();
                    $('#exampleModal').modal('hide');
                    showSuccess(data.message, 3000);
                } else {
                    showError(data.message, 3000);
                }
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }


    function Delete(id) {
        if (confirm('Bạn có muốn xóa chương trình MKT của cơ sở này?')) {
            $.ajax({
                url: "/MarketingCampaigns/Submit_delete",
                type: "POST",
                data: {
                    id: id
                }
                , dataType: "json",
                success: function (data) {
                    if (data.status = "ok") {
                        Loadlist();
                        showSuccess(data.message, 3000);
                    }
                    else {
                        showError(data.status, 3000);
                    }
                },
                error: function () { showError('Lỗi xóa lịch nghỉ!', 3000); }
            });
        }
    }
    function ChangeStatus(button) {
        var id = parseInt(button.getAttribute("data-id")); // Chuyển đổi id thành một số nguyên
        var status = button.value; // Sử dụng button.value thay vì lấy từ tất cả các button
        $.ajax({
            type: "POST",
            url: '/MarketingCampaigns/updateStatus',
            data: JSON.stringify({ id: id, status: status }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.status == "ok") {
                    showSuccess(response.message, 3000);
                } else {
                    showError(response.message, 3000);
                }
            },
            error: function (xhr, status, error) {
                showError("Lỗi cập nhật!", 3000);
            }
        });
    }
</script>