@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .line_box {
        display: flex;
        margin-bottom: 40px;
    }

    .text_circle {
        flex: 1;
        text-align: center;
        position: relative;
    }

        .text_circle:after {
            background-color: grey;
            bottom: 1.25em;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            right: 0;
            width: 50%;
            z-index: 0;
        }

    .stav_projektu .text_circle:after, .stav_projektu .text_circle:before {
        background-color: grey;
    }

    .line_box h4 {
        color: #189599;
        font-weight: bold;
    }

    .line_box h4, .line_box p {
        font-size: 12px;
        margin-bottom: 0;
        padding: 0 5px;
    }

    .subline {
        position: absolute;
        right: -25px;
        bottom: -43%;
    }

        .subline:before {
            content: "";
            position: absolute;
            height: 15px;
            width: 15px;
            bottom: 14px;
            right: 15px;
            background-color: #189599;
            border-radius: 50%;
            top: -25px;
            z-index: 2;
        }

        .subline h6 {
            margin-bottom: 0;
        }

    .timeline {
        margin: 40px 0;
    }

    .text_circle.done:after, .text_circle.done + .text_circle:before, .stav_projektu .text_circle.done:after, .stav_projektu .text_circle.done + .text_circle:before {
        background-color: #189599;
    }

    .text_circle.sub:after {
        background-color: #189599;
    }

    .text_circle:not(:first-child):before {
        bottom: 1.25em;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        width: 50%;
        z-index: 0;
        background-color: grey;
    }

    .stav_projektu .text_circle:not(:first-child):before {
        background-color: grey;
    }

    .text_circle:last-child:after {
        width: 0;
    }

    .circle {
        height: 100%;
    }

    .tvar {
        height: 40px;
        width: 40px;
        border: 2px solid #189599;
        display: flex;
        position: relative;
        border-radius: 100%;
        top: -43px;
        margin: 3px auto;
        background-color: #fff;
        z-index: 2;
    }

        .tvar span {
            margin: 25% auto;
            height: 20px;
            width: 20px;
            background-color: #189599;
            border-radius: 100%;
            color: #fff;
        }

    .stav_projektu .tvar {
        border: 2px solid grey;
    }

    .stav_projektu .done .tvar, .stav_projektu .sub .tvar {
        border: 2px solid #189599;
    }

    .subline h6 {
        color: #189599;
    }

    .timeline .card-header:hover {
        background-color: #ececec;
        cursor: pointer;
    }
    /* iPhone X ----------------------------------- */
    @@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
        .subline:before {
            top: -43px;
        }
    }

    @@media only screen and (device-width : 812px) and (device-height : 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio : 3) {
        .subline:before {
            top: -31px;
        }
    }
    /* iPad portrait ----------------------------------- */
    @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .subline:before {
            top: -29px;
        }
    }
    /* mobile width till 767px ----------------------------------- */
    @@media (max-width: 767px) {
        .subline:before {
            top: -30px;
        }
    }
    /* Portrait iPad Pro */
    @@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        .subline:before {
            top: -23px;
        }
    }
    /* mobile width till 480px ----------------------------------- */
    @@media (max-width: 480px) {
        .subline:before {
            top: -43px;
        }
    }
    .nav-item.active{
        border-bottom:2px solid #189599;
    }
    .modal-dialog-scrollable .modal-content {
        max-height: 80vh;
        overflow: hidden;
    }

    .modal-dialog-scrollable .modal-body {
        max-height: calc(100vh - 300px);
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col col-md-4 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist(1)" })
            }
            <input type="text" class="form-control" name="searchString" id="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
            <a class="input-group-text bg-success" id="basic-addon2" href="javascript:Loadlist()"><i class="ti ti-search text-white"></i></a>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <a href="javascript:Loadlist_orders()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="ti ti-shopping-cart-plus fst-italic"></i> Đặt hàng
        </a>
    </div>
</div>
<div class="mt-3">
    <ul class="nav nav-links mb-3">
        <li class="nav-item active" id="tab1"><a class="nav-link" href="javascript:Loadlist(1)"><span>Đơn hàng mới </span><span class="text-body-tertiary fw-bold" id="count_new">(0)</span></a></li>
        <li class="nav-item" id="tab2"><a class="nav-link" href="javascript:Loadlist(2)"><span>Đã thanh toán </span><span class="text-body-tertiary fw-bold" id="count_payment">(0)</span></a></li>
        <li class="nav-item" id="tab3"><a class="nav-link" href="javascript:Loadlist(3)"><span>Đã xác nhận </span><span class="text-body-tertiary fw-bold" id="count_confirm">(0)</span></a></li>
        <li class="nav-item" id="tab4"><a class="nav-link" href="javascript:Loadlist(4)"><span>Đã đóng gói </span><span class="text-body-tertiary fw-bold" id="count_package">(0)</span></a></li>
        <li class="nav-item" id="tab5"><a class="nav-link" href="javascript:Loadlist(5)"><span>Đang giao hàng </span><span class="text-body-tertiary fw-bold" id="count_delivery">(0)</span></a></li>
        <li class="nav-item" id="tab6"><a class="nav-link" href="javascript:Loadlist(6)"><span>Đã hoàn thành </span><span class="text-body-tertiary fw-bold" id="count_complete">(0)</span></a></li>
        <li class="nav-item" id="tab0"><a class="nav-link" href="javascript:Loadlist(0)"><span>Đơn hàng hủy </span><span class="text-body-tertiary fw-bold" id="count_cancel">(0)</span></a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div id="loading"></div>
        <div id="showlist" class="align-content-center">
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/" method="post" id="form_dathang">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm đơn hàng mới</h5>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Tên liên hệ:</label>
                            <input type="text" name="Name" id="addName" placeholder="Tên liên hệ" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Số điện thoại:</label>
                            <input type="text" name="Phone" id="addPhone" placeholder="Số điện thoại nhận hàng" value="" class="form-control" />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Địa chỉ:</label>
                            <input type="text" name="Address" id="addAddress" placeholder="Địa chỉ nhận hàng" value="" class="form-control" />
                        </div>
                        <div class="col col-12 col-md-12 col-sm-12 mt-3">
                            <label class="text-success">Ghi chú:</label>
                            <input type="text" name="Description" id="Description" placeholder="Ghi chú đơn hàng" value="" class="form-control" />
                        </div>
                    </div>
                    <table class="table mt-3">
                        <thead class="bg-success">
                            <tr class="text-white">
                                <td class="text-center">STT</td>
                                <td>Vật tư</td>
                                <td class="text-center">Đơn vị</td>
                                <td class="text-center">Đơn giá</td>
                                <td class="text-center">Số lượng</td>
                                <td class="text-center">Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody id="showlist_order"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-end">
                                    <span class="text-success">
                                        <input type="hidden" name="countline" value="" id="countline" />
                                        Tổng tiền:
                                    </span>
                                </td>
                                <td><input type="text" name="tongtien" value="0" class="form-control text-end" id="tongtien" /></td>
                            </tr>
                            <tr>
                            <td colspan="6" class="text-end">
                                <button type="button" class="btn btn-success" onclick="submit_order()">
                                    <i class="ti ti-shopping-cart-plus"></i> Xác nhận đặt hàng
                                </button>
                            </td>                        
                            </tr>
                        </tfoot>
                        
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/" method="post" id="form_status" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật đơn hàng</h5>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Mã đơn hàng:</label>
                            <input type="hidden" name="IdOrder" id="IdOrder" placeholder="Tên liên hệ" value="" class="form-control" />
                            <input type="hidden" name="isHQ" id="isHQ" placeholder="Tên liên hệ" value="" class="form-control" />
                            <input type="text" name="Name" id="strCode" placeholder="Tên liên hệ" value="" class="form-control" disabled />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Tổng tiền thanh toán:</label>
                            <input type="text" name="Tongtien" id="strTongtien" placeholder="Số điện thoại nhận hàng" value="" class="form-control" disabled />
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12">
                            <label class="text-success">Cập nhật:</label>
                            <select class="form-control" name="Status" id="Status">
                            </select>
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 mt-3">
                            <label class="text-success">Hình ảnh:</label>
                            <input type="file" id="Image" name="Image" accept="image/*" class="form-control">
                        </div>
                        <div class="col col-8 col-md-8 col-sm-12 mt-3">
                            <label class="text-success">Ghi chú cập nhật:</label>
                            <input type="text" name="statusDescription" id="statusDescription" placeholder="Ghi chú cập nhật" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="line_box stav_projektu" style="margin: 40px 0 40px 0;" id="showlist_status">
                    </div>
                    <table class="table mt-3">
                        <thead class="bg-success">
                            <tr class="text-white">
                                <td class="text-center">STT</td>
                                <td>Vật tư</td>
                                <td class="text-center">Đơn vị</td>
                                <td class="text-end">Đơn giá</td>
                                <td class="text-center">Số lượng</td>
                                <td class="text-end">Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody id="showlist_statusorder"></tbody>
                    </table>
                </div>
                <div class="modal-footer text-start">
                    <button type="button" class="btn btn-success" onclick="submit_statusorder()" id="btn_submit">
                        <i class="ti ti-refresh"></i> Cập nhật đơn hàng
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('openModal') == 'true') {
            $('#exampleModal').modal('show');
        }
        Loadlist(1);
        Loadlist_Count();
    });
    
    function Loadlist(i) {
        $('#showlist').html("");
        $("#loading").html("<span class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></span>");
        $.ajax({
            url: '@Url.Action("Loadlist", "Orders")',
            type: "GET",
            data: {
                idBranch: $("#IdBranch").val(),
                status: i,
                searchString: $("#searchString").val()
            },
            success: function (data) {
                $("#loading").html("");
                $('#showlist').html(data.str);
                $('.nav-links li').removeClass("active");
                $('#tab'+i).addClass("active");
                Loadlist_Count();
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Loadlist_Count() {
        $.ajax({
            url: '@Url.Action("Loadlist_Count", "Orders")',
            type: "GET",
            data: {
                IdBranch: $("#IdBranch").val()
            },
            success: function (data) {
                $("#loading").html("");
                $("#count_new").html("(" + data.count1 + ")");
                $("#count_payment").html("(" + data.count2 + ")");
                $("#count_confirm").html("(" + data.count3 + ")");
                $("#count_package").html("(" + data.count4 + ")");
                $("#count_delivery").html("(" + data.count5 + ")");
                $("#count_complete").html("(" + data.count6 + ")");
                $("#count_cancel").html("(" + data.count0 + ")");
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function LoadStatus_Order(id) {
        $.ajax({
            url: '@Url.Action("LoadStatus_Order", "Orders")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#showlist_statusorder').html(data.str);
                $('#IdOrder').val(id);
                $('#strCode').val(data.strCode);
                $('#strTongtien').val(data.strTongtien);
                $('#isHQ').val(data.isHQ);
                $('#showlist_status').html(data.strTimeline);
                $('#Status').html(data.strSelect);
                $('#countline').val(data.count);
                if (data.isHQ == false) {
                    if (data.status == 3 || data.status == 4 || data.status == 5) {
                        $("#btn_submit").addClass("hideof");
                    }
                }
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Loadlist_order() {
        $.ajax({
            url: '@Url.Action("Loadlist_order", "Orders")',
            type: "GET",
            data: {
            },
            success: function (data) {
                console.log(data);
                $('#showlist_order').html(data.str);
                $('#countline').val(data.count);
                $('#addName').val(data.name);
                $('#addPhone').val(data.phone);
                $('#addAddress').val(data.address);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function update_thanhtien(i) {
        var max = parseInt($('#soluong_' + i).attr('max'));
        var dongia = parseFloat($("#dongia_" + i).val().replace(/,/g, '')); // Remove all commas
        var soluong = parseInt($("#soluong_" + i).val());
        var heso = parseInt($("#NumberOfPackage_" + i).val());
        if ((soluong * heso) > max) {
            showError("Vui lòng nhập số lượng nhỏ hơn!", 3000);
            $("#soluong_" + i).val(0);
            $("#thanhtien_" + i).val(0);
            sum_tongtien();
        } else {
            var thanhtien = dongia * soluong;
            $("#thanhtien_" + i).val(thanhtien.toLocaleString());
            sum_tongtien();
        }
    }
    function sum_tongtien() {
        var countline = $("#countline").val();
        var tongtien = 0;
        for (var i = 1; i <= countline; i++) {
            var soluong = Number($("#soluong_" + i).val());
            if (soluong > 0) {
                var dongia = parseFloat($("#dongia_" + i).val().replace(/,/g, '')); // Remove all commas
                var thanhtien = dongia * soluong;
                tongtien += thanhtien;
            }
        }
        $("#tongtien").val(tongtien.toLocaleString());
    }

    var isProcessing = false;
    function submit_order() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        $.ajax({
            url: '@Url.Action("Submit_order", "Orders")',
            type: "POST",
            data: $("#form_dathang").serialize()
            , dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#exampleModal').modal('hide');
                    Loadlist(1);
                    showSuccess("Đã đặt hàng thành công!", 3000);
                    isProcessing = false;
                }
                else {
                    showError(data.status, 3000);
                    isProcessing = false;
                }
            },
            error: function () { showError('Lỗi!', 3000); }
        });
    }
    function submit_statusorder() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        var idOrder = $("#IdOrder").val();
        var status = $("#Status").val();
        var description = $("#statusDescription").val();
        var fileInput = $("#Image")[0];
        var file = fileInput.files[0]; 

        if (!idOrder || !status) {
            showError('IdOrder và Status không được để trống!', 3000);
            return;
        }
        isProcessing = true; // Đánh dấu là đang xử lý
        var formData = new FormData();
        formData.append("IdOrder", idOrder);
        formData.append("Status", status);
        formData.append("Description", description);
        formData.append("file", file);

        $.ajax({
            url: '@Url.Action("Submit_StatusOrder", "Orders")',
            type: "POST",
            data: formData,
            contentType: false, // Không đặt loại nội dung
            processData: false, // Không xử lý dữ liệu
            dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#modalStatus').modal('hide');
                    Loadlist(1);
                    showSuccess("Đã cập nhật thành công!", 3000);
                } else {
                    showError(data.status, 3000);
                    isProcessing = false;
                }
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                showError('Lỗi! ' + errorMessage, 3000);
                isProcessing = false;
            }
        });
    }

    function Cancel_Order(Id) {
        if (confirm('Bạn có muốn hủy đơn hàng này?')) {
            $.ajax({
                url: '@Url.Action("Cancel_Order", "Orders")',
                type: 'POST',
                data: {
                    id: Id
                },
                success: function (data) {
                    if (data.status=="ok") {
                        showSuccess(data.message, 3000);
                        location.reload();
                    } else {
                        showError(data.message,3000);
                    }
                },
                error: function () {
                    showError('Error deleting employee',3000);
                }
            });
        }
    }
    $('#exampleModal').on('shown.bs.modal', function (e) {
        Loadlist_order();
    });
    function Status_Order(i) {
        $('#modalStatus').modal('show');
        LoadStatus_Order(i);
    }
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>