@{
    ViewBag.Controller = "Khóa học";
    ViewBag.Title = "Chương trình khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-4 col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control ms-1 rounded-1" id="searchString" name="searchString" placeholder="Tìm kiếm khóa học">
            <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="button" onclick="Loadlist()"><i class="ti ti-search text-white"></i></button>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <a href="javascript:Add_Program()" class="btn btn-md btn-outline-success"><i class="ti ti-coffee"></i> Thêm chương trình</a>
        <a href="/courses/create" class="btn btn-md btn-success ms-1"><i class="ti ti-certificate-2"></i> Thêm khóa học</a>
    </div>
</div>
<div class="table-responsive mx-n1 px-1">
    <table class="table table-bordered fs-9 border-translucent mt-2">
        <thead>
            <tr>
                <th class="text-center">Mã</th>
                <th class="text-center">Tên</th>
                <th class="text-center">Học phí</th>
                <th class="text-center">Số buổi</th>
                <th class="text-center">Số giờ</th>
                <th class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody id="showlist"></tbody>
        <tr class="loader"></tr>
    </table>
</div>
<div class="modal fade" id="modaladdProgram" tabindex="-1" aria-labelledby="modaladdProgramLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <form action="/" method="post" id="form_nhap">
                <div class="modal-header">
                    <h6 class="modal-title text-success" id="modaladdProgramLabel">Thêm chương trình</h6>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;"/>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12 mt-2">
                            <label>Mã chương trình</label>
                            <input type="hidden" name="action" value="" class="form-control" id="action" placeholder="Mã chương trình" />
                            <input type="hidden" name="IdProgram" value="" class="form-control" id="IdProgram" placeholder="Mã chương trình" />
                            <input type="text" name="CodeProgram" value="" class="form-control" id="CodeProgram" placeholder="Mã chương trình" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Tên chương trình</label>
                            <input type="text" name="NameProgram" value="" class="form-control" id="NameProgram" placeholder="Tên chương trình" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Thứ tự hiển thị</label>
                            <input type="text" name="DisplayOrderProgram" value="" class="form-control" id="DisplayOrderProgram" placeholder="Thứ tự hiển thị" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Mô tả ngắn</label>
                            <input type="text" name="DescriptionProgram" value="" class="form-control" id="DescriptionProgram" placeholder="Mô tả ngắn" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <button type="button" class="btn btn-sm btn-success" onclick="Submit_AddProgram()" id="btnActionProgram">
                        <i class="ti ti-refresh"></i> Cập nhật
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" style="width:800px;">
            <form action="/" method="post" id="form_nhap">
                <div class="modal-header">
                    <h6 class="modal-title text-success" id="exampleModalLabel">Cài đặt vật tư khóa học</h6>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-sm-12">
                            <label>Vật tư:</label>
                            <input type="hidden" name="IdCourse" value="" id="IdCourse" />
                            @Html.DropDownList("IdProduct", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col col-12 col-md-12 col-sm-12 mt-2">
                            <label>Số lượng:</label>
                            <input type="text" name="Phone" id="Phone" placeholder="Số lượng" value="1" class="form-control" />
                        </div>
                    </div>
                    <table class="table mt-3">
                        <thead class="bg-success">
                            <tr class="text-white">
                                <td class="text-center">STT</td>
                                <td>Vật tư</td>
                                <td class="text-center">Số lượng</td>
                                <td class="text-end">Thao tác</td>
                            </tr>
                        </thead>
                        <tbody id="showlist_product"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <button type="button" class="btn btn-sm btn-success" onclick="Submit_ProductCourse()">
                        <i class="ti ti-device-floppy"></i> Cập nhật
                    </button>
                    <span class="loader"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    Loadlist();
    function Loadlist(sort) {
        $(".loader").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        $('#showlist').html("");
        $.ajax({
            url: '@Url.Action("Loadlist", "Programs")',
            type: "GET",
            data: {
                searchString: $("#searchString").val()
            },
            success: function (data) {
                console.log(data);
                $(".loader").html("");
                $('#showlist').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    var isProcessing = false;
    function Add_Program() {
        $('#modaladdProgramLabel').html("Thêm chương trình học");
        $('#action').val("create");
        $('#btnActionProgram').html("+ Thêm mới");
        $('#modaladdProgram').modal('show');
    }
    function Edit_Program(id) {
        $('#modaladdProgramLabel').html("Chỉnh sửa chương trình học");
        $('#btnActionProgram').html("<i class='ti ti-device-floppy'></i> Cập nhật");
        $.ajax({
            url: '@Url.Action("Loadedit_Program", "Programs")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#IdProgram').val(id);
                $('#action').val("edit");
                $('#CodeProgram').val(data.code);
                $('#NameProgram').val(data.name);
                $('#DisplayOrderProgram').val(data.displayorder);
                $('#DescriptionProgram').val(data.description);
                $('#modaladdProgram').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Submit_AddProgram() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        $.ajax({
            url: '@Url.Action("Submit_addProgram", "Programs")',
            type: "POST",
            data: {
                Id: $("#IdProgram").val(),
                action: $("#action").val(),
                Code: $("#CodeProgram").val(),
                Name: $("#NameProgram").val(),
                DisplayOrder: $("#DisplayOrderProgram").val(),
                Description: $("#DescriptionProgram").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    $('#modaladdProgram').modal('hide');
                    location.reload();
                } else {
                    showError(data.message,3000);
                }
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            },
            error: function (xhr, error) {
                console.log(error);
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            }
        });
    }

    function Load_ProductCourse(id) {
        Loadlist_ProductCourse(id);
        $("#IdCourse").val(id);
        $('#exampleModal').modal('show');
    }
    function Loadlist_ProductCourse(id) {
        $.ajax({
            url: '@Url.Action("Loadlist_ProductCourse", "Courses")',
            type: "GET",
            data: {
                IdCourse: id
            },
            success: function (data) {
                console.log(data);
                $('#showlist_product').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }


    function Submit_ProductCourse() {
        $.ajax({
            url: '@Url.Action("Submit_ProductCourse", "Courses")',
            type: "POST",
            data: {
                IdCourse: $("#IdCourse").val(),
                IdProduct: $("#IdProduct").val()
            },
            success: function (data) {
                if (data.status == "ok") {
                    showSuccess("Đã thêm thành công!",3000);
                    Loadlist_ProductCourse($("#IdCourse").val());
                } else {
                    showError(data.status,3000);
                }
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            },
            error: function (xhr, error) {
                console.log(error);
                isProcessing = false; // Hoàn thành xử lý
                $(".loader").html("");
            }
        });
    }
    function Delete_ProductCourse(Id, IdCourse) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        if (confirm('Are you sure you want to delete this product?')) {
            $.ajax({
                url: '@Url.Action("Delete_ProductCourse", "Courses")',
                type: 'POST',
                data: { id: Id },
                success: function (response) {
                    if (response.success) {
                        showSuccess("Đã xóa thành công!", 3000);
                        Loadlist_ProductCourse(IdCourse);
                    } else {
                        showError('Error deleting product',3000);
                    }
                    isProcessing = false; // Hoàn thành xử lý
                    $(".loader").html("");
                },
                error: function () {
                    showError('Error deleting product', 3000);
                    isProcessing = false; // Hoàn thành xử lý
                    $(".loader").html("");
                }
            });
        }
    }
    function Delete_Course(Id) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $("#loader+" + Id).html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        if (confirm('Bạn có muốn xóa khóa học này?')) {
            $.ajax({
                url: '@Url.Action("Delete_Course", "Courses")',
                type: 'POST',
                data: { id: Id },
                success: function (response) {
                    if (response.status=="ok") {
                        showSuccess("Đã xóa thành công!", 3000);
                        location.reload();
                    } else {
                        showError(response.message, 3000);
                    }
                    isProcessing = false; // Hoàn thành xử lý
                    $("#loader+" + Id).html("");
                },
                error: function () {
                    showError('Lỗi xóa khóa học', 3000);
                    isProcessing = false; // Hoàn thành xử lý
                    $("#loader+" + Id).html("");
                }
            });
        }
    }
    function Delete_Program(Id) {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $("#loader-" + Id).html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        if (confirm('Bạn có muốn chương trình này?')) {
            $.ajax({
                url: '@Url.Action("Submit_delete", "Programs")',
                type: 'POST',
                data: { id: Id }
                , dataType: "json",
                success: function (response) {
                    if (response.status == "ok") {
                        showSuccess(response.message, 3000);
                        location.reload();
                    } else {
                        showError(response.message, 3000);
                    }
                    isProcessing = false; // Hoàn thành xử lý
                    $("#loader-" + Id).html("");
                },
                error: function () {
                    showError('Error deleting program', 3000);
                    isProcessing = false; // Hoàn thành xử lý
                    $("#loader-" + Id).html("");
                }
            });
        }
    }
</script>