@model SuperbrainManagement.Models.Branch

@{
    ViewBag.Controller = "Cơ sở";
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Branches", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h5 class="text-success">Chỉnh sửa cơ sở</h5>
    <div class="row">
        <div class="col-12 col-xl-8 row">

            <div class="col-md-12 mt-3">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 mt-3">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 mt-3">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <label>Số điện thoại</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <label>Địa chỉ</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                <label class="form-control-label">Địa chỉ</label>
                <input class="form-control" type="text" name="Address" id="Address" value="" placeholder="Địa chỉ">
            </div>
            <div class="form-group row pe-0 mt-1">
                <div class="col-lg-6 pe-0">
                    <input class="form-control" type="text" name="District" id="District" value="" placeholder="Quận / Huyện">
                </div>
                <div class="col-lg-6 pe-0">
                    <input class="form-control" type="text" name="City" id="City" value="" placeholder="Tỉnh / Thành phố">
                </div>
            </div>

            <div class="col-md-12 mt-2">
                <label>Ngày khai trương</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.GrandOpeningDay, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.GrandOpeningDay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 mt-2">
                <label>Số hợp đồng</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ContractNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 mt-2">
                <label>Ngày hết hạn hợp đồng</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ContractExpire, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.ContractExpire, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-12 col-xl-4">
            <div class="row g-2">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Cài đặt chung</h4>
                            <div class="row gx-3">
                                <div class="col-12 col-md-12">
                                    <div class="d-flex flex-wrap mb-2">
                                        <span class="mb-0 text-body-highlight me-2">Cụm cơ sở</span>
                                        @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                                        {
                                            <a class="fw-bold fs-9" href="javascript:Add_Position()">+ Thêm mới</a>
                                        }
                                    </div>
                                    @Html.DropDownList("IdGroup", null, htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="col-12 col-md-12 mt-2">
                                    <label>Số thứ tự trong Cụm</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NumberInGroup, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumberInGroup, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-12 col-md-12 mt-2">
                                    <div class="d-flex flex-wrap mb-2">
                                        <span class="mb-0 text-body-highlight me-2">Logo</span>
                                    </div>
                                    <input type="file" name="imageFile" id="imageFile" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-12 mt-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
