@model SuperbrainManagement.Models.Promotion

@{
    ViewBag.Controller = "Cài đặt";
    ViewBag.Title = "Chỉnh sửa Ưu đãi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h5 class="text-success">Chỉnh sửa chương trình ưu đãi</h5>
    <div class="row">
        <div class="col-12 col-xl-8 row">
            <div class="form-group row pe-0">
                <div class="col-md-6 pb-0 pe-0">
                    <label class="form-control-label">Mã</label>
                    <input class="form-control" type="text" name="Code" id="Code" value="@Model.Code" placeholder="Mã">
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 pb-0 pe-0">
                    <label class="form-control-label">Tên chương trình</label>
                    <input class="form-control" type="text" name="Name" id="Name" value="@Model.Name" placeholder="Tên chương trình">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-0">
                <label>Loại ưu đãi</label>
                <div class="col-md-12">

                    @{
                        var gratuateOptions = new List<SelectListItem>
                                        {
                            new SelectListItem { Text = "Ưu đãi khóa học", Value = "1" },
                            new SelectListItem { Text = "Ưu đãi vật tư", Value = "2" }
                        };
                        if (!SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                        {
                            gratuateOptions = new List<SelectListItem>
                                            {
                            new SelectListItem { Text = "Ưu đãi khóa học", Value = "1" }
                            };
                        }
                    }
                    @Html.DropDownListFor(model => model.Type, gratuateOptions, new { @class = "form-control", id = "Type" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group pt-0">
                <label>Giá trị</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row pe-0 pt-0">
                <div class="col-md-6 pt-0 pe-0">
                    <label class="form-control-label">Ngày bắt đầu</label>
                    <input type="text" name="ngaybatdau" value="@Model.Fromdate.Value.ToString("dd/MM/yyyy")" id="ngaybatdau" class="form-control" onchange="Updatedate()" required />
                    @Html.HiddenFor(model => model.Fromdate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 pt-0 pe-0">
                    <label class="form-control-label">Ngày kết thúc</label>
                    <input type="text" name="ngayketthuc" value="@Model.Todate.Value.ToString("dd/MM/yyyy")" id="ngayketthuc" class="form-control" onchange="Updatedate()" required />
                    @Html.HiddenFor(model => model.Todate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Todate, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.IdUser)
            @Html.HiddenFor(model => model.DateCreate)
        </div>
        <div class="col-12 col-xl-4">
            <div class="row g-2">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Thông tin chung</h4>
                            <div class="row gx-3">
                                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                                {
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="mb-4">
                                            <div class="d-flex flex-wrap mb-2">
                                                <h6 class="mb-0 text-body-highlight me-2">Cơ sở</h6>
                                            </div>
                                            @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                }
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="d-flex flex-wrap mb-2">
                                        <h6 class="mb-0 text-body-highlight me-2">Kích hoạt</h6>
                                    </div>
                                    <select class="form-select" aria-label="Kích hoạt" id="Active" name="Active">
                                        <option value="true">Kích hoạt</option>
                                        <option value="false">Không kích hoạt</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<script>
    function Updatedate() {
        var fromDate = $("#ngaybatdau").val().split("/").reverse().join("-");
        var toDate = $("#ngayketthuc").val().split("/").reverse().join("-");
        $("#Fromdate").val(fromDate);
        $("#Todate").val(toDate);
    }
    $(function () {
        $("#ngaybatdau").datepicker({ dateFormat: "dd/mm/yy" });
        $("#ngayketthuc").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>