﻿@model IEnumerable<SuperbrainManagement.Models.Transaction>

@{
    ViewBag.Controller = "Kế toán";
    ViewBag.Title = "Nhật ký thu chi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group mb-3">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="fromdate" id="fromdate" value="" onchange="Loadlist()">
            <input type="text" class="form-control ms-1 rounded-1" name="todate" id="todate" value="" onchange="Loadlist()">
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-filter"></i>
                <span id="filterEnum"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { filterEnum = 1 })"><i class="ti ti-row-insert-top"></i> Phiếu thu</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new {filterEnum = 0})"><i class="ti ti-row-insert-bottom"></i> Phiếu chi</a></li>
            </ul>
        </div>
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="javascript:Loadlist('name')"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist('name_desc')"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist('date')"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="javascript:Loadlist('date_desc')"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="javascript:Loadlist_nhap()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="ti ti-receipt-2"></i> Tạo phiếu
        </a>
    </div>
</div>
<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã phiếu</th>
            <th class="text-center">Người (nhận,nộp)</th>
            <th class="text-left">Lý do</th>
            <th class="text-end">Số tiền</th>
            <th class="text-center">Hình thức</th>
            <th class="text-center">Loại</th>
            <th class="text-center">Ngày</th>
            <th class="text-center">Người thao tác</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tr id="loading"></tr>
    <tbody id="showlist"></tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo phiếu</h5>
            </div>
            <form action="/" method="post" enctype="multipart/form-data" id="form_transaction">
                <div class="modal-body row">
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Loại phiếu <span class="text-danger">*</span></label>
                            <select id="type" class="form-control">
                                <option value="true">Phiếu thu</option>
                                <option value="false">Phiếu chi</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Chứng từ (nếu có)</label>
                            <input type="file" id="Image" name="Image" accept="image/*" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Người (nhận,nộp) tiền <span class="text-danger">*</span></label>
                            <input type="text" name="hoten" id="hoten" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Số điện thoại</label>
                            <input type="text" id="dienthoai" name="dienthoai" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Địa chỉ </label>
                            <input type="text" id="diachi" name="diachi" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Số tiền <span class="text-danger">*</span></label>
                            <input type="number" id="sotien" name="sotien" value="0" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Bằng chữ <span class="text-danger">*</span></label>
                            <input type="text" name="bangchu" value="" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Phương thức <span class="text-danger">*</span></label>
                            <select id="method" class="form-control">
                                <option value="tienmat">Tiền mặt</option>
                                <option value="chuyenkhoan">Chuyển khoản</option>
                                <option value="khac">Khác</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="mb-1">Lý do <span class="text-danger">*</span></label>
                            <input type="text" id="lydo" name="lydo" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <button type="button" class="btn btn-success text-start" onclick="Submit_transaction()">
                        <i class="ti ti-circle-plus"></i> Thêm phiếu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    $(function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('openModal') === 'true') {
            $('#exampleModal').modal('show');
        }
        if (urlParams.get('filterEnum') == 1 || urlParams.get('filterEnum') == null) {
            $('#filterEnum').html("Phiếu thu");
        } else {
            $('#filterEnum').html("Phiếu chi");
        }
        $("#fromdate").datepicker({ dateFormat: "dd/mm/yy" });
        $("#todate").datepicker({ dateFormat: "dd/mm/yy", maxDate: 1 });
        if ($("#fromdate").val() == "") {
            $("#fromdate").datepicker("setDate", -30);
        }
        if ($("#todate").val() == "") {
            $("#todate").datepicker("setDate", 1);
        }
        Loadlist();
    });
    function Loadlist(sort) {
        const urlParams = new URLSearchParams(window.location.search);
        $("#loading").html("<td colspan=10 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        var fromDate = $("#fromdate").val().split("/").reverse().join("-");
        var toDate = $("#todate").val().split("/").reverse().join("-");
        $.ajax({
            url: '@Url.Action("Loadlist", "Transactions")',
            type: "GET",
            data: {
                idBranch: $("#IdBranch").val(),
                fromdate: fromDate,
                todate: toDate,
                sort: sort,
                type: urlParams.get('filterEnum'),
                searchString: $("#searchString").val()
            },
            success: function (data) {
                $("#loading").html("");
                $('#showlist').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Submit_transaction() {
        var hoten = $("#hoten").val();
        var dienthoai = $("#dienthoai").val();
        var diachi = $("#diachi").val();
        var type = $("#type").val();
        var method = $("#method").val();
        var sotien = $("#sotien").val();
        var lydo = $("#lydo").val();
        var fileInput = $("#Image")[0];
        var file = fileInput.files[0]; // Lấy tệp từ input

        //if (!idOrder || !status) {
        //    showError('IdOrder và Status không được để trống!', 3000);
        //    return;
        //}

        var formData = new FormData();
        formData.append("hoten", hoten);
        formData.append("dienthoai", dienthoai);
        formData.append("diachi", diachi);
        formData.append("type", type);
        formData.append("lydo", lydo);
        formData.append("sotien", sotien);
        formData.append("method", method);
        formData.append("file", file);

        $.ajax({
            url: '@Url.Action("Submit_transaction", "Transactions")',
            type: "POST",
            data: formData,
            contentType: false, // Không đặt loại nội dung
            processData: false, // Không xử lý dữ liệu
            dataType: "json",
            success: function (data) {
                if (data.status === "ok") {
                    $('#exampleModal').modal('hide');
                    Loadlist();
                    showSuccess("Đã cập nhật thành công!", 3000);
                } else {
                    showError(data.status, 3000);
                }
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                showError('Lỗi! ' + errorMessage, 3000);
            }
        });
    }
</script>