@model SuperbrainManagement.Models.Product

@{
    ViewBag.Title = "Chỉnh sửa";
    ViewBag.Controller = "Vật tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h5 class="text-success">Chỉnh sửa mã vật tư mới</h5>
    <div class="row">
        <div class="col-12 col-xl-8 row">
            <div class="form-group mt-2 col-md-6">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    <input type="file" name="imageFile" id="imageFile" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-2 col-md-6">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-12">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group mt-2 col-md-12">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-4">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-4">
                @Html.LabelFor(model => model.DiscountPrice, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DiscountPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiscountPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-4">
                @Html.LabelFor(model => model.StatusDiscount, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.StatusDiscount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StatusDiscount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group mt-2 col-md-12">
                @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-6">
                @Html.LabelFor(model => model.NumberOfPackage, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.NumberOfPackage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfPackage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-6">
                @Html.LabelFor(model => model.UnitOfPackage, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UnitOfPackage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitOfPackage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-12">
                @Html.LabelFor(model => model.Quota, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Quota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2 col-md-12">
                @Html.LabelFor(model => model.PowerScore, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PowerScore, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PowerScore, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row g-2">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Cài đặt chung</h4>
                            <div class="row gx-3">
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="d-flex flex-wrap mb-2">
                                        <span class="mb-0 text-body-highlight me-2">Danh mục vật tư</span><a class="fw-bold fs-9" href="javascript:Add_Category()">+ Thêm mới</a>
                                    </div>
                                    @Html.DropDownList("IdCategory", null, htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="col-12 col-sm-6 col-xl-12 mt-3">
                                    <div class="d-flex flex-wrap mb-2">
                                        @Html.LabelFor(model => model.IsCore, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    @Html.EditorFor(model => model.IsCore, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-12 col-sm-6 col-xl-12 mt-3">
                                    <div class="d-flex flex-wrap mb-2">
                                        @Html.LabelFor(model => model.IsFixed, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    @Html.EditorFor(model => model.IsFixed, new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                                <div class="col-12 col-sm-6 col-xl-12 mt-3">
                                    <div class="d-flex flex-wrap mb-2">
                                        <span class="mb-0 text-body-highlight me-2">Cho phép đặt hàng</span>
                                    </div>
                                    @Html.EditorFor(model => model.IsSale, new { htmlAttributes = new { @class = "form-control" } })
                                </div>


                                <div class="col-12 col-sm-6 col-xl-12 mt-3">
                                    <div class="d-flex flex-wrap mb-2">
                                        <span class="mb-0 text-body-highlight me-2">Chế độ công khai</span>
                                    </div>
                                    @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                                <div class="form-group mt-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
