@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-sm-12">
        <form action="/ProductCategories" method="get" id="formload">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Cũ nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Mới nhất</a></li>
            </ul>
        </div>
        <a href="/products/create" class="btn btn-md btn-success ms-0"><i class="ti ti-circle-plus"></i> Thêm mới</a>
        <a href="/ProductCategories/create" class="btn btn-md btn-primary ms-0"><i class="ti ti-archive"></i> Thêm mới danh mục</a>
    </div>
</div>
<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th rowspan="2" class="text-center align-content-center">STT</th>
            <th rowspan="2" class="align-content-center">Mã vật tư</th>
            <th rowspan="2" class="align-content-center">Tên vật tư</th>
            <th rowspan="2" class="align-content-center">Đơn giá</th>
            <th rowspan="2" class="align-content-center">Đơn vị</th>
            <th rowspan="2" class="align-content-center text-center">Tồn kho</th>
            <th rowspan="2" class="align-content-center text-center">Định mức</th>
            <th colspan="2" class="text-center align-content-center">Cài đặt bán</th>
            <th rowspan="2" class="text-center align-content-center">Trạng thái</th>
            <th rowspan="2" class="text-end align-content-center">Thao tác</th>
        </tr>
        <tr>
            <th class="text-center">Đơn vị</th>
            <th class="text-center">Số lượng</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
</table>
<script>
    Loadlist();
    function Loadlist(sort) {
        $("#loading").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
         $.ajax({
             url: '@Url.Action("Loadlist", "Products")',
             type: "GET",
             data: {
                 sort: sort,
                 searchString: $("#searchString").val()
             },
             success: function (data) {
                 console.log(data);
                $("#loading").html("");
                 $('#showlist').html(data.str);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }

    function ChangeStatus(button) {
        var id = parseInt(button.getAttribute("data-id")); // Chuyển đổi id thành một số nguyên
        var status = button.value; // Sử dụng button.value thay vì lấy từ tất cả các button
        $.ajax({
            type: "POST",
            url: '/Products/updateStatus',
            data: JSON.stringify({ id: id, status: status }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                showSuccess("Cập nhật thành công!", 3000);
            },
            error: function (xhr, status, error) {
                showError("Lỗi cập nhật!", 3000);
            }
        });
    }
</script>