@model SuperbrainManagement.Models.CourseBranch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CourseBranch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceCourse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceCourse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sessons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromdateDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromdateDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TodateDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodateDiscount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
