@model PagedList.IPagedList<SuperbrainManagement.Models.Class>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Lớp học";
    ViewBag.Title = "Danh sách lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employees = ViewBag.EmployeeDDData as List<SelectListItem>;
    var rooms = ViewBag.RoomDDData as List<SelectListItem>;
}

@functions {
    public string GetDayName(int dayNumber)
    {
        switch (dayNumber)
        {
            case 0:
                return "Chủ Nhật";
            case 1:
                return "Thứ 2";
            case 2:
                return "Thứ 3";
            case 3:
                return "Thứ 4";
            case 4:
                return "Thứ 5";
            case 5:
                return "Thứ 6";
            case 6:
                return "Thứ 7";
            default:
                return "Không hợp lệ";
        }
    }
}

<div class="row">
    <div class="col col-md-4 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="searchString" id="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
            <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="button" onclick="Loadlist()"><i class="ti ti-search text-white"></i></button>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <a href="javascript:Add_class()" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>
<div class="table-responsive mx-n1 px-1">
    <table class="table table-striped mt-2">
        <thead class="border-2 border-bottom border-muted">
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã lớp</th>
                <th class="text-start">Tên lớp</th>
                <th class="text-start">Mô tả ngắn</th>
                <th class="text-start">Thời khóa biểu</th>
                <th class="text-center">Giáo viên</th>
                <th class="text-center">Sỉ số</th>
                <th class="text-end">Thao tác</th>
            </tr>
        </thead>
        <tbody id="showlist"></tbody>
        <tr class="loader"></tr>
    </table>
</div>

<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabel">Thời khóa biểu</h5>
                <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <div class="modal-body">
                <form id="scheduleForm" action="/Classes/UpdateScheduleBulk" method="post">
                    <input type="hidden" name="ClassId" value="" id="ClassId" />
                    <table cellpadding="0" cellspacing="0" border="0" class="table" id="datatable">
                        <thead>
                            <tr>
                                <th class="text-center">Kích hoạt</th>
                                <th class="text-center">Thứ</th>
                                <th class="text-center">Từ giờ</th>
                                <th class="text-center">Đến giờ</th>
                                <th class="text-center">Giáo viên</th>
                                <th class="text-center">Phòng học</th>
                            </tr>
                        </thead>
                        <tbody id="schedulerTable">
                        </tbody>
                        <tr class="loader"></tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <span class="loader"></span>
                <button type="button" class="btn btn-sm btn-outline-danger text-center" onclick="closeModal()">
                    <i class="ti ti-door-exit"></i> Hủy
                </button>
                <a id="submitButton" href="javascript:updateSchedule()" class="btn btn-sm btn-success"><i class="ti ti-refresh"></i> Cập nhật</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="exampleModalLabels">Thêm lớp học </h5>
                <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" name="typeaction" value="" id="typeaction" />
                    <input type="hidden" name="IdClassedit" value="" id="IdClassedit" />

                    <label class="text-success">Mã lớp học</label>
                    <input type="text" class="form-control" id="CodeClass" name="CodeClass" value="" placeholder="Mã lớp học" />

                    <label class="text-success mt-2">Tên lớp</label>
                    <input type="text" class="form-control" id="NameClass" name="NameClass" value="" placeholder="Tên lớp" />

                    <label class="text-success mt-2">Mô tả</label>
                    <input type="text" class="form-control" id="DescriptionClass" name="DescriptionClass" value="" placeholder="Mô tả" />
                </div>
                <div class="modal-footer">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger text-center" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <a href="javascript:Submit_savechange()" class="btn btn-sm btn-success" id="btnaction"> Cập nhật</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
 {
    <script>
        Loadlist();
        function Loadlist() {
            $(".loader").html("<td colspan=7>Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
            $('#showlist').html("");
            $.ajax({
                url: '@Url.Action("Loadlist", "Classes")',
                type: "GET",
                data: {
                    IdBranch: $("#IdBranch").val(),
                    searchString: $("#searchString").val()
                },
                success: function (data) {
                    console.log(data);
                    $('#showlist').html(data.str);
                    $(".loader").html("");
                },
                error: function (xhr, error) {
                    console.log(error);
                    $(".loader").html("");
                }
            });
        }
        var isProcessing = false;
        $(function () {
            $("#fromHourtxt").datepicker({ dateFormat: "hh:mm tt" });
            $("#toHourtxt").datepicker({ dateFormat: "hh:mm tt", minDate: 0 });
        });
        function Add_class() {
            $('#exampleModalLabels').html("Thêm lớp học");
            $('#typeaction').val("create");
            $('#btnaction').html("+ Thêm mới");
            $('#exampleModal').modal('show');
        }
        function Edit_class(id) {
            $('#exampleModalLabels').html("Chỉnh sửa lớp học");
            $('#typeaction').val("edit");
            $('#btnaction').html("<i class='ti ti-device-floppy'></i> Cập nhật");
            $.ajax({
                url: '@Url.Action("Loadedit_class", "Classes")',
                type: "GET",
                data: {
                    id: id
                },
                success: function (data) {
                    $('#IdClassedit').val(id);
                    $('#NameClass').val(data.name);
                    $('#CodeClass').val(data.code);
                    $('#DescriptionClass').val(data.description);
                    $('#exampleModal').modal('show');
                },
                error: function (xhr, error) {
                    console.log(error);
                }
            });
        }

        function Submit_savechange() {
            $.ajax({
                url: '@Url.Action("Submit_savechanges", "Classes")',
                type: "POST",
                data: {
                    Id: $("#IdClassedit").val(),
                    action: $("#typeaction").val(),
                    Name: $("#NameClass").val(),
                    Code: $("#CodeClass").val(),
                    Description: $("#DescriptionClass").val()
                },
                success: function (data) {
                    if (data.status == "ok") {
                        $('#exampleModal').modal('hide');
                        location.reload();
                    } else {
                        showError(data.message, 3000);
                    }
                },
                error: function (xhr, error) {
                    console.log(error);
                }
            });
        }

        var selectedClassId;

        var scheduleData = [];

        function ChangeStatus(button) {
            var id = parseInt(button.getAttribute("data-id")); // Chuyển đổi id thành một số nguyên
            var status = button.value; // Sử dụng button.value thay vì lấy từ tất cả các button
            $.ajax({
                type: "POST",
                url: '/Classes/UpdateStatus',
                data: JSON.stringify({ id: id, status: status }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    showSuccess("Cập nhật thành công!", 3000);
                },
                error: function (xhr, status, error) {
                    showError("Lỗi cập nhật!", 3000);
                }
            });
        }

        function getSelectedClassId(idInput) {
            selectedClassId = idInput;

            document.getElementById("selectedClassId").value = selectedClassId;

            $(document).ready(function () {
                $("#schedulerTable tr[id!='test+" + idInput + "']").remove();
            });
        }

        function updateSchedule() {
            // Tạo mảng chứa các đối tượng schedule cần cập nhật
            var schedules = [];

            // Duyệt qua các hàng trong bảng để lấy dữ liệu
            $('#schedulerTable tr').each(function () {
                var schedule = {
                    ClassId: $("#ClassId").val(),
                    ScheduleId: $(this).find('input[name="IdWeek"]').val(),
                    IsActive: $(this).find('input[type="checkbox"]').is(':checked'),  // Lấy trạng thái kích hoạt
                    FromHour: $(this).find('input[name="fromHourtxt"]').val(),        // Lấy giờ bắt đầu
                    ToHour: $(this).find('input[name="toHourtxt"]').val(),            // Lấy giờ kết thúc
                    EmployeeId: $(this).find('select[name^="employeeId"]').val(),     // Lấy id giáo viên
                    RoomId: $(this).find('select[name^="roomId"]').val()              // Lấy id phòng học
                };
                schedules.push(schedule);
            });

            if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
            isProcessing = true; // Đặt cờ đang xử lý
            $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
            // Gửi yêu cầu AJAX để cập nhật
            $.ajax({
                url: '/Classes/UpdateScheduleBulk',  // URL đến phương thức trong controller
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ schedules: schedules }),  // Chuyển mảng thành JSON và gửi lên server
                success: function (response) {
                    if (response.status === "ok") {
                        showSuccess('Lưu thay đổi thành công!', 3000);
                        $('#scheduleModal').modal('hide');
                        Loadlist();
                        // Có thể cập nhật lại dữ liệu hoặc reload trang
                    } else {
                        showError('Đã có lỗi xảy ra: ' + response.message,3000);
                    }
                    isProcessing = false;
                    $(".loader").html("");
                },
                error: function (xhr, status, error) {
                    showError('Có lỗi khi gửi yêu cầu: ' + error, 3000);
                    isProcessing = false;
                    $(".loader").html("");
                }
            });
        }

        function Delete_Classes(Id) {
            if (confirm('Bạn có muốn xóa lớp học này?')) {
                $.ajax({
                    url: '@Url.Action("Delete_Classes", "Classes")',
                    type: 'POST',
                    data: { id: Id },
                    success: function (data) {
                        if (data.status == "ok") {
                            Loadlist();
                            showSuccess("Đã xóa thành công!", 3000);
                        } else {
                            showError(data.message, 3000);
                        }
                    },
                    error: function () {
                        showError('Error deleting course', 3000);
                    }
                });
            }
        }
        function LoadSchedulebyClass(Id) {
            $(".loader").html("<td colspan=6 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
            $.ajax({
                url: '@Url.Action("LoadSchedulebyClass", "Classes")',
                type: "GET",
                data: {
                    IdClass: Id
                },
                success: function (data) {
                    if (data.status == "ok") {
                        $('#ClassId').val(Id);
                        $('#schedulerTable').html(data.str);
                        $('#scheduleModal').modal('show');
                    } else {
                        showError(data.message, 3000);
                    }
                    $(".loader").html("");
                },
                error: function (xhr, error) {
                    console.log(error);
                }
            });
        }
    </script>
}